<div class="panel">
	<div class="panel-heading">All Site</div>
    <div class="panel-body">
    	<div class="title">Filter</div>
    	 <div class="clearfix search-box">
			 <div class="form-group col-sm-4">
             	<label>Company Name</label>
                
                <select class="form-control">
                	<option>SmartData</option>
                    <option>Walgreens Boots All</option>
                    <option>Angus & Robertson</option>
                    <option>Australia and New Zealand Banking Group</option>
                    <option>Australian Pharmaceutical Industries</option>
                </select>
             </div>
             <div class="form-group col-sm-4">
             	<label>Site Name</label>
                
                <select class="form-control">
                	<option>Site 1</option>
                    <option>Site 2</option>
                    <option>Site 3</option>
                    <option>Site 4</option> 
                </select>
             </div>
             <div class="form-group col-sm-4">
             	<label>Beacon Number</label>
                 <input type="text" class="form-control" />
             </div>
              <div class="form-group col-sm-4">
             	<label>Start Date</label>
               
                <div class="calendar-group">
                	<input type="text" class="form-control" uib-datepicker-popup="fullDate" ng-model="installed_date" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats"  ng-click="open1()" />
                     
                    <i class="icon">
                    	<?xml version="1.0" encoding="iso-8859-1"?>
                            <!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" width="20px" height="20px">
                            <g>
                                <g>
                                    <circle cx="414.09" cy="199.328" r="12.308"/>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <circle cx="335.046" cy="199.328" r="12.308"/>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <circle cx="256.001" cy="199.328" r="12.308"/>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <circle cx="176.957" cy="199.328" r="12.308"/>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <circle cx="97.912" cy="199.328" r="12.308"/>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <circle cx="414.09" cy="278.373" r="12.308"/>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <circle cx="335.046" cy="278.373" r="12.308"/>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <circle cx="256.001" cy="278.373" r="12.308"/>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <circle cx="97.912" cy="278.373" r="12.308"/>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <circle cx="414.09" cy="357.417" r="12.308"/>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <circle cx="335.046" cy="357.417" r="12.308"/>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <circle cx="256.001" cy="357.417" r="12.308"/>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <circle cx="176.957" cy="357.417" r="12.308"/>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <circle cx="97.912" cy="357.417" r="12.308"/>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <path d="M214.1,230.65H139.81c-5.844,0-10.58,4.736-10.58,10.58v74.291c0,5.844,4.736,10.58,10.58,10.58H214.1
                                        c5.844,0,10.58-4.736,10.58-10.58v-74.289C224.68,235.387,219.943,230.65,214.1,230.65z M203.52,304.94H150.39v-53.129h53.129
                                        V304.94z"/>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <path d="M476.733,89.114h-77.709V75.535c0-6.493-5.263-11.756-11.756-11.756c-6.491,0-11.756,5.264-11.756,11.756v13.579h-64.001
                                        V75.535c0-6.493-5.264-11.756-11.756-11.756c-6.493,0-11.756,5.264-11.756,11.756v13.579H224V75.535
                                        c0-6.493-5.263-11.756-11.756-11.756s-11.756,5.264-11.756,11.756v13.579h-64.001V75.535c0-6.493-5.263-11.756-11.756-11.756
                                        s-11.756,5.264-11.756,11.756v13.579h-77.71C15.821,89.114,0,104.934,0,124.38v288.573c0,19.446,15.821,35.267,35.267,35.267
                                        h441.467c19.446,0,35.267-15.821,35.267-35.267V124.38C512,104.934,496.178,89.114,476.733,89.114z M476.733,424.71H35.267
                                        c-6.482,0-11.756-5.274-11.756-11.756V124.38c0-6.482,5.274-11.756,11.756-11.756h77.709v13.578
                                        c0,6.491,5.263,11.756,11.756,11.756c6.493,0,11.756-5.264,11.756-11.756v-13.578h64.001v13.578
                                        c0,6.491,5.263,11.756,11.756,11.756s11.756-5.264,11.756-11.756v-13.578H288v13.578c0,6.491,5.263,11.756,11.756,11.756
                                        c6.491,0,11.756-5.264,11.756-11.756v-13.578h64.001v13.578c0,6.491,5.264,11.756,11.756,11.756
                                        c6.493,0,11.756-5.264,11.756-11.756v-13.578h77.709c6.482,0,11.756,5.274,11.756,11.756v288.573h0.001
                                        C488.489,419.436,483.215,424.71,476.733,424.71z"/>
                                </g>
                            </g>
                             
                            </svg>

                    </i>
                </div>
             </div>
             <div class="form-group col-sm-4">
             	<label>End Date</label>
               
                <div class="calendar-group">
                	<input type="text" class="form-control"  uib-datepicker-popup="fullDate" ng-model="expiry_date" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" ng-click="open2()" />
                    <i class="icon">
                    	<?xml version="1.0" encoding="iso-8859-1"?>
                            <!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" width="20px" height="20px">
                            <g>
                                <g>
                                    <circle cx="414.09" cy="199.328" r="12.308"/>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <circle cx="335.046" cy="199.328" r="12.308"/>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <circle cx="256.001" cy="199.328" r="12.308"/>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <circle cx="176.957" cy="199.328" r="12.308"/>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <circle cx="97.912" cy="199.328" r="12.308"/>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <circle cx="414.09" cy="278.373" r="12.308"/>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <circle cx="335.046" cy="278.373" r="12.308"/>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <circle cx="256.001" cy="278.373" r="12.308"/>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <circle cx="97.912" cy="278.373" r="12.308"/>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <circle cx="414.09" cy="357.417" r="12.308"/>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <circle cx="335.046" cy="357.417" r="12.308"/>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <circle cx="256.001" cy="357.417" r="12.308"/>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <circle cx="176.957" cy="357.417" r="12.308"/>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <circle cx="97.912" cy="357.417" r="12.308"/>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <path d="M214.1,230.65H139.81c-5.844,0-10.58,4.736-10.58,10.58v74.291c0,5.844,4.736,10.58,10.58,10.58H214.1
                                        c5.844,0,10.58-4.736,10.58-10.58v-74.289C224.68,235.387,219.943,230.65,214.1,230.65z M203.52,304.94H150.39v-53.129h53.129
                                        V304.94z"/>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <path d="M476.733,89.114h-77.709V75.535c0-6.493-5.263-11.756-11.756-11.756c-6.491,0-11.756,5.264-11.756,11.756v13.579h-64.001
                                        V75.535c0-6.493-5.264-11.756-11.756-11.756c-6.493,0-11.756,5.264-11.756,11.756v13.579H224V75.535
                                        c0-6.493-5.263-11.756-11.756-11.756s-11.756,5.264-11.756,11.756v13.579h-64.001V75.535c0-6.493-5.263-11.756-11.756-11.756
                                        s-11.756,5.264-11.756,11.756v13.579h-77.71C15.821,89.114,0,104.934,0,124.38v288.573c0,19.446,15.821,35.267,35.267,35.267
                                        h441.467c19.446,0,35.267-15.821,35.267-35.267V124.38C512,104.934,496.178,89.114,476.733,89.114z M476.733,424.71H35.267
                                        c-6.482,0-11.756-5.274-11.756-11.756V124.38c0-6.482,5.274-11.756,11.756-11.756h77.709v13.578
                                        c0,6.491,5.263,11.756,11.756,11.756c6.493,0,11.756-5.264,11.756-11.756v-13.578h64.001v13.578
                                        c0,6.491,5.263,11.756,11.756,11.756s11.756-5.264,11.756-11.756v-13.578H288v13.578c0,6.491,5.263,11.756,11.756,11.756
                                        c6.491,0,11.756-5.264,11.756-11.756v-13.578h64.001v13.578c0,6.491,5.264,11.756,11.756,11.756
                                        c6.493,0,11.756-5.264,11.756-11.756v-13.578h77.709c6.482,0,11.756,5.274,11.756,11.756v288.573h0.001
                                        C488.489,419.436,483.215,424.71,476.733,424.71z"/>
                                </g>
                            </g>
                             
                            </svg>

                    </i>
                </div>
             </div>
              <div class="col-sm-4">
              	
             	<button class="btn btn-primary mt-25" type="button">Filter</button>
             </div>
		</div>
    </div>
    <div class="panel-body clearfix">
    	<div class="col-sm-12" ng-init="viewitem = '10'">
        	<div class="table-responsive">
            	<table class="table table-condensed table-striped">
                	<thead>
                    	<tr>
                        	<th>Company Name</th>
                        	<th>Site Number</th>
                        	<th class="text-center">Beacon Number</th>
                        	<th>Start Date</th>
                        	<th>Expiry Date</th>
                        	<th>Action</th> 
                        </tr>
                    </thead>
                    <tbody>
                    	<tr ng-repeat="item in beaconlist | limitTo: viewitem">
                        	<td><div class="text-overflow" ng-bind="item.company_name"></div></td>
                            <td><div class="text-overflow" ng-bind="item.site_number"></div></td>
                            <td><div class="text-overflow text-center" ng-bind="item.beacon_number"></div></td>
                            <td><div class="text-overflow" ng-bind="item.start_date"></div></td>
                            <td><div class="text-overflow" ng-bind="item.expiry_date"></div></td>
                            <td>
                            	<div class="text-overflow">
                                	<button ng-click="removebeacon()">
                                    	<i class="flaticon-garbage"></i>
                                    </button>
                                    <button>
                                    	<i class="flaticon-pencil"></i>
                                    </button>
                                    <button>
                                    	<i class="flaticon-eye"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <tr ng-if="!beaconlist.length">
                            <td colspan="6">
                                <div class="alert alert-warning" >No List Avilable</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="clearfix table-footer">
					<div class="col-sm-6">
						<label>No. of Enteries</label>
					 	<select class="" ng-model="viewitem">
							<option value="10">10</option>
							<option value="20">20</option>
							<option value="30">30</option>
							<option value="40">40</option>
							<option value="50">50</option>
						</select>
					</div>
					<div class="col-sm-6 clearfix">
						<div class="pull-right">
							<nav aria-label="Page navigation">
							  <ul class="pagination">
							    <li class="disabled">
							      <a href="#" aria-label="Previous">
							        <span aria-hidden="true">&laquo;</span>
							      </a>
							    </li>
							    <li class="active"><a href="#">1</a></li>
							    <li><a href="#">2</a></li>
							    <li><a href="#">3</a></li>
							    <li><a href="#">4</a></li>
							    <li><a href="#">5</a></li>
							    <li>
							      <a href="#" aria-label="Next">
							        <span aria-hidden="true">&raquo;</span>
							      </a>
							    </li>
							  </ul>
							</nav>
						</div>
					</div>
				</div>
    </div>
</div>