<div class="panel">
	<div class="panel-heading">
		Company List
	</div>
	<div class="panel-body clearfix">
		<div class="clearfix search-box">
			<label class="col-lg-1 col-sm-2">Search</label>
			<div class="col-lg-3 col-sm-6">
				<input type="text" class="form-control" ng-model="search_item" />
			</div>
		</div>
		<div class="col-sm-12">
			<div class="table-responsive">
				<table class="table table-condensed table-striped" ng-init="viewitem = '10'">
					<thead>
						<tr>
							<th width="29%">Company Name</th>
							<th width="17%">Email</th>
							<th width="17%">Phone</th>
							<th width="15%">State</th>
							<th width="22%">Action</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in companylist | limitTo: viewitem | filter: search_item">
							<td>
								<div class="text-overflow" title="{{ item.name }}" ng-bind="item.name"></div>
							</td>
							<td>
								<div class="text-overflow" title="{{ item.email }}" ng-bind="item.email"></div>
							</td>
							<td>
								<div class="text-overflow" title="{{ item.phone }}" ng-bind="item.phone"></div>
							</td>
							<td>
								<div class="text-overflow" title="{{ item.state }}" ng-bind="item.state"></div>
							</td>
							<td>
								<div class="relative table-action">
									<button class="actionbtn btn btn-primary">Action   <span class="caret"></span></button>
									<div class="text-overflow actbtn-div" >

										<button ng-if="item.upgrade == 'true'"><i class="flaticon-arrows-1"></i></button>
										<button ng-if="item.upgrade != 'true'"><i class="flaticon-down-arrow"></i></button>
										<button ng-if="item.block == 'false'"><i class="flaticon-padlock-1"></i></button>
										<button ng-if="item.block != 'false'"><i class="flaticon-padlock"></i></button>
										<button ng-if="item.approve == 'true'"><i class="flaticon-like"></i></button>
										<button ng-if="item.approve == 'false'"><i class="flaticon-dislike"></i></button>
										<button><i class="flaticon-eye"></i></button>
										<button ng-click="removecompany()"><i class="flaticon-garbage"></i></button>
									</div>
								</div>
							</td>
						</tr>
						<tr ng-if="!companylist.length">
							<td colspan="5">
								<div class="alert alert-warning" >No List Avilable</div>
							</td>
						</tr>
					</tbody>
				</table>

				
			</div>
			<div class="clearfix table-footer mt-">
					<div class="col-sm-6">
						<label>No. of Enteries</label>
					 	<select class="" ng-model="viewitem">
							<option value="10">10</option>
							<option value="20">20</option>
							<option value="30">30</option>
							<option value="40">40</option>
							<option value="50">50</option>
						</select>
					</div>
					<div class="col-sm-6 clearfix">
						<div class="pull-right">
							<nav aria-label="Page navigation">
							  <ul class="pagination">
							    <li class="disabled">
							      <a href="#" aria-label="Previous">
							        <span aria-hidden="true">&laquo;</span>
							      </a>
							    </li>
							    <li class="active"><a href="#">1</a></li>
							    <li><a href="#">2</a></li>
							    <li><a href="#">3</a></li>
							    <li><a href="#">4</a></li>
							    <li><a href="#">5</a></li>
							    <li>
							      <a href="#" aria-label="Next">
							        <span aria-hidden="true">&raquo;</span>
							      </a>
							    </li>
							  </ul>
							</nav>
						</div>
					</div>
				</div>
		</div>
	</div>
</div>