<div class="panel">
	<div class="panel-heading">
		Member List
	</div>
	<div class="panel-body">
		<div class="clearfix search-box">
			<div class="col-sm-7">
            	<div class="row">
                	<label class="col-lg-2 col-sm-3">Search</label>
                    <div class="col-lg-6 col-sm-9">
                        <input type="text" class="form-control" ng-model="member_search" />
                    </div>
                </div>
            </div>
            <div class="col-sm-5 text-right">
            	<a ui-sref="add_members" class="btn btn-primary">
                	<i class="icon" ng-include="'svg/plus-button.svg'"></i>
                    <span>Add Members</span>
                </a>
            </div>
		</div>
		<div class="col-sm-12">
			<div class="table-responsive" ng-init="viewitem = '10'">
            	<table width="100%" cellpadding="0" cellspacing="0" class="table table-condensed table-striped">
                	<thead>
                    	<tr>
                        	<th width="12%">First Name</th>
                            <th width="12%">Last Name</th>
                            <th width="12%">Phone</th>
                            <th width="18%">Email</th>
                            <th width="14%">Company</th>
                            <th width="18%">Site Name</th>
                            <th  width="12%">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    	<tr ng-repeat="item in memberlist | limitTo: viewitem | filter: member_search">
                        	<td><div class="text-overflow" tooltip-placement="top" uib-tooltip=" {{item.first_name}}" ng-bind="item.first_name"></div></td>
                            <td><div class="text-overflow" tooltip-placement="top" uib-tooltip=" {{item.last_name}}" ng-bind="item.last_name"></div></td>
                            <td><div class="text-overflow" tooltip-placement="top" uib-tooltip=" {{item.phone}}" ng-bind="item.phone"></div></td>
                            <td><div class="text-overflow" tooltip-placement="top" uib-tooltip=" {{item.email}}" ng-bind="item.email"></div></td>
                            <td><div class="text-overflow" tooltip-placement="top" uib-tooltip=" {{item.company}}" ng-bind="item.company"></div></td>
                            <td><div class="text-overflow" tooltip-placement="top" uib-tooltip=" {{item.site_name}}" ng-bind="item.site_name"></div></td>
                            <td>
                              <div class="text-overflow">
	                             	<button tooltip-placement="top" uib-tooltip="Edit"><i class="flaticon-pencil icon"></i></button>
                                  <button tooltip-placement="top" uib-tooltip="Delete" ng-click="removemember()"><i class="flaticon-garbage icon"></i></button>
                                  <button tooltip-placement="top" uib-tooltip="Block"><i class="flaticon-padlock icon"></i></button>
                              </div>
                            </td>
                        </tr>
                        <tr ng-if="!memberlist.length">
							<td colspan="7">
								<div class="alert alert-warning" >No List Avilable</div>
							</td>
						</tr>
                    </tbody>
                </table>
            </div>
			<div class="clearfix table-footer row">
					<div class="col-sm-6">
						<label>No. of Enteries</label>
					 	<select class="" ng-model="viewitem">
							<option value="10">10</option>
							<option value="20">20</option>
							<option value="30">30</option>
							<option value="40">40</option>
							<option value="50">50</option>
						</select>
					</div>
					<div class="col-sm-6 clearfix">
						<div class="pull-right">
							<nav aria-label="Page navigation">
							  <ul class="pagination">
							    <li class="disabled">
							      <a href="#" aria-label="Previous">
							        <span aria-hidden="true">&laquo;</span>
							      </a>
							    </li>
							    <li class="active"><a href="#">1</a></li>
							    <li><a href="#">2</a></li>
							    <li><a href="#">3</a></li>
							    <li><a href="#">4</a></li>
							    <li><a href="#">5</a></li>
							    <li>
							      <a href="#" aria-label="Next">
							        <span aria-hidden="true">&raquo;</span>
							      </a>
							    </li>
							  </ul>
							</nav>
						</div>
					</div>
				</div>
		</div>
	</div>
</div>