<div class="panel">
  <div class="panel-heading"> Plan </div>
  <div class="panel-body">
    <div class="clearfix search-box">
      <div class="col-sm-12 text-right">
        <button class="btn btn-primary" ng-click="show()"> <i class="icon">
        <?xml version="1.0" encoding="iso-8859-1"?>
        <!-- Generator: Adobe Illustrator 19.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  --> 
        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 31.059 31.059" style="enable-background:new 0 0 31.059 31.059;" xml:space="preserve">
        <g>
        <g>
          <path style="fill:#fff;" d="M15.529,31.059C6.966,31.059,0,24.092,0,15.529C0,6.966,6.966,0,15.529,0
			c8.563,0,15.529,6.966,15.529,15.529C31.059,24.092,24.092,31.059,15.529,31.059z M15.529,1.774
			c-7.585,0-13.755,6.171-13.755,13.755s6.17,13.754,13.755,13.754c7.584,0,13.754-6.17,13.754-13.754S23.113,1.774,15.529,1.774z"
			/>
        </g>
        <g>
          <path style="fill:#fff;" d="M21.652,16.416H9.406c-0.49,0-0.888-0.396-0.888-0.887c0-0.49,0.397-0.888,0.888-0.888h12.246
			c0.49,0,0.887,0.398,0.887,0.888C22.539,16.02,22.143,16.416,21.652,16.416z"/>
        </g>
        <g>
          <path style="fill:#fff;" d="M15.529,22.539c-0.49,0-0.888-0.397-0.888-0.887V9.406c0-0.49,0.398-0.888,0.888-0.888
			c0.49,0,0.887,0.398,0.887,0.888v12.246C16.416,22.143,16.02,22.539,15.529,22.539z"/>
        </g>
        </svg> </i> <span>Add plan</span></button>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="table-responsive">
        <table class="table table-condensed table-striped" ng-init="viewitem = '6'">
          <thead>
            <tr>
              <th width="25%">Plan Name</th>
              <th width="25%">Numbers of users</th>
              <th width="25%">Price</th>
              <th width="25%">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><input class="form-control" type="text"></td>
              <td><input class="form-control" type="text"></td>
              <td><input class="form-control" type="text"></td>
              <td style=" vertical-align:middle;"><button class="reload" type="button"><i class="fa fa-refresh" aria-hidden="true"></i></button></td>
            </tr>
            <tr ng-repeat="item in planlist | limitTo: viewitem | filter: search_item">
              <td><div class="text-overflow" tooltip-placement="left" uib-tooltip=" {{item.plan_name}}" ng-bind="item.plan_name"></div></td>
              <td><div class="text-overflow" tooltip-placement="left" uib-tooltip=" {{item.user}}" ng-bind="item.user"></div></td>
              <td><div class="text-overflow" tooltip-placement="left" uib-tooltip=" {{item.price}}" ng-bind="item.price"></div></td>
              <td><div class="relative table-action">
                  <div class="text-overflow actbtn-div" >
                    <button tooltip-placement="top" uib-tooltip="Edit" ng-if="item.edit == 'true'"><i class="flaticon-pencil"></i></button>
                    <button tooltip-placement="top" uib-tooltip="Cancel" ng-if="item.cancel == 'true'"><i class="flaticon-cancel"></i></button>
                  </div>
                </div></td>
            </tr>
            <tr ng-if="!planlist.length">
              <td colspan="5"><div class="alert alert-warning" >No List Avilable</div></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="clearfix table-footer mt-">
        <div class="col-sm-6">
          <label>No. of Enteries</label>
          <select class="" ng-model="viewitem">
            <option value="6">6</option>
            <option value="10">10</option>
            <option value="20">20</option>
          </select>
        </div>
        <div class="col-sm-6 clearfix">
          <div class="pull-right">
            <nav aria-label="Page navigation">
              <ul class="pagination">
                <li class="disabled"> <a href="#" aria-label="Previous"> <span aria-hidden="true">&laquo;</span> </a> </li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li> <a href="#" aria-label="Next"> <span aria-hidden="true">&raquo;</span> </a> </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
