
<div ng-if="loaderStart" loader-css="line-scale-pulse-out" class="loader"></div>
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a ui-sref="dashboard">Home</a></li>
    <li class="breadcrumb-item"><a ui-sref="plans">Plans</a></li>
    <li class="breadcrumb-item active">Add Plan</li>
</ol>
<div class="panel">
    <div class="panel-heading">
        Add Plan
    </div>
    <div class="panel-body">
        <div ng-if="messages" role="alert" class="alert alert-danger">
            <div>
                {{messages}}</div>
        </div>
        <div class="title">
            Plan Information
        </div>
        <form name="planForm">
            <div class="clearfix">
                <div class="col-sm-4 form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" name="name" ng-model="user.name" ng-pattern="/^[a-z ,.'-]+$/i" ng-minlength="3" ng-maxlength="20" maxlength="21" required />
                    <span style="color:red;" ng-show="planForm.name.$touched && planForm.name.$invalid && planForm.name.$error.required">Name is required.</span>
                    <span style="color:red;" ng-show="planForm.name.$error.pattern">Enter Valid Character</span><br>
                    <span style="color:red " ng-show="planForm.name.$error.maxlength && planForm.name.$dirty">Name maximum length exceeds</span>
                </div>
                <div class="col-sm-4 form-group">
                    <label>Duration (In Days)</label>
                    <input type="text" class="form-control" name="duration" ng-model="user.duration" ng-pattern="/^\d*[0-9]\d*$/" ng-minlength="1" ng-maxlength="3" maxlength="3" required />
                    <span style="color:red;" ng-show="planForm.duration.$touched && planForm.duration.$invalid && planForm.duration.$error.required">Duration is required.</span>
                    <span style="color:red;" ng-show="planForm.duration.$error.pattern">Enter Valid Character</span><br>
                    <span style="color:red " ng-show="planForm.duration.$error.maxlength && planForm.duration.$dirty">Duration maximum length exceeds</span>
                </div>
                <div class="col-sm-4 form-group">
                    <label>Price (In USD)</label>
                    <input type="text" class="form-control" name="price" id="price" ng-pattern="/^\d*[0-9]\d*$/" ng-model="user.price" ng-minlength="1" ng-maxlength="10" maxlength="10" required/>
                    <span style="color:red;" ng-show="planForm.price.$touched && planForm.price.$invalid && planForm.price.$error.required">Price  is required.</span>
                    <span style="color:red;" ng-show="planForm.price.$error.minlength">Phone have 3-digits minimum.</span>
                </div>
            </div>
            <div class="clearfix">
                <div class="col-sm-4 form-group">
                    <label>Short Description</label>
                    <input type="text" class="form-control" name="short_description" ng-model="user.short_description" ng-pattern="/^[a-z ,.'-]+$/i" ng-minlength="3" ng-maxlength="50" maxlength="51" required />
                    <span style="color:red;" ng-show="planForm.short_description.$touched && planForm.short_description.$invalid && planForm.short_description.$error.required">short_description is required.</span>
                    <span style="color:red;" ng-show="planForm.short_description.$error.pattern">Enter Valid Character</span><br>
                    <span style="color:red " ng-show="planForm.short_description.$error.maxlength && planForm.short_description.$dirty">short_description maximum length exceeds</span>
                </div>
                <!-- <div class="col-sm-4 form-group">
                    <label class="form-control-placeholder">Plan For</label>
                    <div class="inline col-sm-12" style="margin-left:-26px;margin-top:10px;">
                    <div class="col-sm-6">
                        <label>
                        <input type="radio" ng-model="user.planfor" value="android">
                        Android
                        </label>
                    </div>
                    <div class="col-sm-6">
                        <label>
                        <input type="radio" ng-model="user.planfor" value="ios">
                        iOS
                     </label>
                    </div>
                     </div>
                </div> -->
                <div class="col-sm-4 form-group">
                    <label class="form-control-placeholder">Apple id</label>
                    <input type="text" class="form-control" name="apple_id" ng-model="user.apple_id"  maxlength="21" />
                    <span style="color:red;" ng-show="planForm.apple_id.$touched && planForm.apple_id.$invalid && planForm.apple_id.$error.required">Apple id is required.</span>
                    <span style="color:red;" ng-show="planForm.apple_id.$error.pattern">Enter Valid Character</span><br>
                    <span style="color:red " ng-show="planForm.apple_id.$error.maxlength && planForm.apple_id.$dirty">apple_id maximum length exceeds</span>
                </div>
                <div class="col-sm-4 form-group">
                    <label>Google id</label>
                    <input type="text" class="form-control" name="google_id" ng-model="user.google_id" />
                    <span style="color:red;" ng-show="planForm.google_id.$touched && planForm.google_id.$invalid && planForm.google_id.$error.required">Google id is required.</span>
                    <span style="color:red;" ng-show="planForm.google_id.$error.pattern">Enter Valid Character</span><br>
                    <span style="color:red " ng-show="planForm.google_id.$error.maxlength && planForm.google_id.$dirty">google_id maximum length exceeds</span>
                </div>
            </div>
        <div class="clearfix text-center">
            <button type="submit" ng-if="!updateButton" id="save" ng-disabled="planForm.$invalid" class="btn btn-primary" ng-click="addPlan()">
                <i class="fa fa-check" aria-hidden="true"></i> Save
            </button>
            <button type="submit" ng-if="updateButton" id="update" ng-disabled="planForm.$invalid" class="btn btn-primary" ng-click="updatePlan(user)">
                <i class="fa fa-check" aria-hidden="true"></i> Update
            </button>
            </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="reset" class="btn btn-grey">
                    <i class="fa fa-times" aria-hidden="true"></i>
                    <span>Reset</span>
                </button>
        </div>
    </form>
    </div>
</div>