<div class="panel">
	<div class="panel-heading">
		Add Barbers
	</div>
	<div class="panel-body">
		 <div class="title">
		 	Personal Information
		 </div>
		 <div class="clearfix">
		 	<div class="col-sm-4 form-group">
		 		<label>First Name</label>
		 		<input type="text" class="form-control" ng-model="first_name"/>
		 	</div>
		 	<div class="col-sm-4 form-group">
		 		<label>Last Name</label>
		 		<input type="text" class="form-control" ng-model="last_name"/>
		 	</div>
		 	<div class="col-sm-4 form-group">
		 		<label>Middle Name</label>
		 		<input type="text" class="form-control" />
		 	</div>
		 </div>
		 <div class="clearfix">
		 	<div class="col-sm-4 form-group">
		 		<label>Phone Number</label>
		 		<input type="text" class="form-control" />
		 	</div>
		 	<div class="col-sm-4 form-group">
		 		<label>Mobile Number</label>
		 		<input type="text" class="form-control" />
		 	</div>
		 	<div class="col-sm-4 form-group">
		 		<label>Email</label>
		 		<input type="email" class="form-control" />
		 	</div>
		 </div>
		 <div class="clearfix">
		 	<div class="col-sm-6 form-group">
		 		<label>Address Line 1</label>
		 		<input type="text" class="form-control" />
		 	</div>
		 	<div class="col-sm-6 form-group">
		 		<label>Address Line 2</label>
		 		<input type="text" class="form-control" />
		 	</div>
		 	 
		 </div>
		 <div class="clearfix">
		 	<div class="col-sm-4 form-group">
		 		<label>State</label>
		 		<input type="text" class="form-control" />
		 	</div>
		 	<div class="col-sm-4 form-group">
		 		<label>City</label>
		 		<input type="text" class="form-control" />
		 	</div>
		 	<div class="col-sm-4 form-group">
		 		<label>Postal Code</label>
		 		<input type="email" class="form-control" />
		 	</div>
		 </div>
		 <div class="title">
		 	Company Information
		 </div>

		 <div class="clearfix">
		 	<div class="col-sm-4 form-group">
		 		<label>Company Name</label>
		 		<input type="text" class="form-control" />
		 	</div>
		 	<div class="col-sm-8 form-group">
		 		<div class="row">
		 			<div class="col-sm-6 form-group">
		 			<label>Site Name</label>
		 			<div class="input-cgroup">
					  
					  <input type="text" class="form-control" ng-model="input_site">
					  <button class="form-addon" ng-click="addTags(input_site)">
					  		<?xml version="1.0" encoding="iso-8859-1"?>
								<!-- Generator: Adobe Illustrator 19.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
								<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
									 viewBox="0 0 31.059 31.059" style="enable-background:new 0 0 31.059 31.059;" xml:space="preserve" width="13px" height="13px">
								<g>
									<g>
										<path style="fill:#fff;" d="M15.529,31.059C6.966,31.059,0,24.092,0,15.529C0,6.966,6.966,0,15.529,0
											c8.563,0,15.529,6.966,15.529,15.529C31.059,24.092,24.092,31.059,15.529,31.059z M15.529,1.774
											c-7.585,0-13.755,6.171-13.755,13.755s6.17,13.754,13.755,13.754c7.584,0,13.754-6.17,13.754-13.754S23.113,1.774,15.529,1.774z"
											/>
									</g>
									<g>
										<path style="fill:#fff;" d="M21.652,16.416H9.406c-0.49,0-0.888-0.396-0.888-0.887c0-0.49,0.397-0.888,0.888-0.888h12.246
											c0.49,0,0.887,0.398,0.887,0.888C22.539,16.02,22.143,16.416,21.652,16.416z"/>
									</g>
									<g>
										<path style="fill:#fff;" d="M15.529,22.539c-0.49,0-0.888-0.397-0.888-0.887V9.406c0-0.49,0.398-0.888,0.888-0.888
											c0.49,0,0.887,0.398,0.887,0.888v12.246C16.416,22.143,16.02,22.539,15.529,22.539z"/>
									</g>
								</g> 
								</svg>

					  </button>
					</div>
		 		</div>
		 		<div class="col-sm-12">
		 			<div class="tag-item" ng-repeat="item in tagitem">
		 				<span ng-bind="item.name"></span>
		 				<button ng-click="removesite()">
		 					 <?xml version="1.0" encoding="iso-8859-1"?>
								<!-- Generator: Adobe Illustrator 19.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
								<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
									 viewBox="0 0 475.2 475.2" style="enable-background:new 0 0 475.2 475.2;" xml:space="preserve">
								<g>
									<g>
										<path d="M405.6,69.6C360.7,24.7,301.1,0,237.6,0s-123.1,24.7-168,69.6S0,174.1,0,237.6s24.7,123.1,69.6,168s104.5,69.6,168,69.6
											s123.1-24.7,168-69.6s69.6-104.5,69.6-168S450.5,114.5,405.6,69.6z M386.5,386.5c-39.8,39.8-92.7,61.7-148.9,61.7
											s-109.1-21.9-148.9-61.7c-82.1-82.1-82.1-215.7,0-297.8C128.5,48.9,181.4,27,237.6,27s109.1,21.9,148.9,61.7
											C468.6,170.8,468.6,304.4,386.5,386.5z"/>
										<path d="M342.3,132.9c-5.3-5.3-13.8-5.3-19.1,0l-85.6,85.6L152,132.9c-5.3-5.3-13.8-5.3-19.1,0c-5.3,5.3-5.3,13.8,0,19.1
											l85.6,85.6l-85.6,85.6c-5.3,5.3-5.3,13.8,0,19.1c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4l85.6-85.6l85.6,85.6c2.6,2.6,6.1,4,9.5,4
											c3.5,0,6.9-1.3,9.5-4c5.3-5.3,5.3-13.8,0-19.1l-85.4-85.6l85.6-85.6C347.6,146.7,347.6,138.2,342.3,132.9z"/>
									</g>
								</g>
								 
								</svg>
		 				</button>
		 			</div>
		 		</div>
		 		</div>
		 	</div>
		 </div>
		 <div class="clearfix text-center">
		 	<button class="btn btn-primary" ng-click="addbarber()">
		 		<i class="icon">
		 			<?xml version="1.0" encoding="iso-8859-1"?>
						<!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
						<svg version="1.1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
							 viewBox="0 0 384.97 384.97" style="enable-background:new 0 0 384.97 384.97;" xml:space="preserve" width="20px" height="20px">
						<g>
							<g id="Check_Circle">
								<path style="fill:#fff;" d="M192.485,0C86.173,0,0,86.173,0,192.485S86.173,384.97,192.485,384.97c106.3,0,192.485-86.185,192.485-192.485
									C384.97,86.173,298.785,0,192.485,0z M192.485,360.909c-93.018,0-168.424-75.406-168.424-168.424S99.467,24.061,192.485,24.061
									s168.424,75.406,168.424,168.424S285.503,360.909,192.485,360.909z"/>
								<path style="fill:#fff;" d="M280.306,125.031L156.538,247.692l-51.502-50.479c-4.74-4.704-12.439-4.704-17.179,0c-4.752,4.704-4.752,12.319,0,17.011
									l60.139,58.936c4.932,4.343,12.307,4.824,17.179,0l132.321-131.118c4.74-4.692,4.74-12.319,0-17.011
									C292.745,120.339,285.058,120.339,280.306,125.031z"/>
							</g>
							 
						</g>
						</svg>
		 		</i>
		 		<span>Save</span>
		 	</button>
		 	<button class="btn btn-grey">
		 		<i class="icon">
		 			 
						<?xml version="1.0" encoding="iso-8859-1"?>
<!-- Generator: Adobe Illustrator 19.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 475.2 475.2" style="enable-background:new 0 0 475.2 475.2;" xml:space="preserve">
<g>
	<g>
		<path d="M405.6,69.6C360.7,24.7,301.1,0,237.6,0s-123.1,24.7-168,69.6S0,174.1,0,237.6s24.7,123.1,69.6,168s104.5,69.6,168,69.6
			s123.1-24.7,168-69.6s69.6-104.5,69.6-168S450.5,114.5,405.6,69.6z M386.5,386.5c-39.8,39.8-92.7,61.7-148.9,61.7
			s-109.1-21.9-148.9-61.7c-82.1-82.1-82.1-215.7,0-297.8C128.5,48.9,181.4,27,237.6,27s109.1,21.9,148.9,61.7
			C468.6,170.8,468.6,304.4,386.5,386.5z"/>
		<path d="M342.3,132.9c-5.3-5.3-13.8-5.3-19.1,0l-85.6,85.6L152,132.9c-5.3-5.3-13.8-5.3-19.1,0c-5.3,5.3-5.3,13.8,0,19.1
			l85.6,85.6l-85.6,85.6c-5.3,5.3-5.3,13.8,0,19.1c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4l85.6-85.6l85.6,85.6c2.6,2.6,6.1,4,9.5,4
			c3.5,0,6.9-1.3,9.5-4c5.3-5.3,5.3-13.8,0-19.1l-85.4-85.6l85.6-85.6C347.6,146.7,347.6,138.2,342.3,132.9z"/>
	</g>
</g>
 
</svg>

		 		</i>
		 		<span>Cancel</span>
		 	</button>
		 </div>
	</div>
</div>