<ol class="breadcrumb">
    <li class="breadcrumb-item"><a ui-sref="dashboard">Home</a></li>
    <li class="breadcrumb-item active">Shops</li>
</ol>
<div class="panel" ng-init="shoppageChanged()">
    <div class="panel-heading">
        All Shops
    </div>
    <div class="panel-body">
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6" style="margin-left: 300px;">
                    </div>
                    <div>
                        <span class="glyphicon glyphicon-search" style="color:purple"></span>
                        <input ng-model="myobj.search" placeholder="Search for..." ng-change="shoppageChanged()" />
                    </div>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th style="font-size: 13px;color: #ffffff;"><a ng-click="Sort('shopsdata.shopinfo[0].name')" class="name" style="color: #ffffff;">SHOPNAME<span class="glyphicon glyphicon-sort" style="margin-left: 10px; font-size: 12px; "></span></a></th>
                            <th style="font-size: 13px;color: #ffffff;"><a ng-click="Sort('shopsdata.first_name')" class="first_name" style="color: #ffffff;">SHOP OWNER<span class="glyphicon glyphicon-sort" style="margin-left: 10px; font-size: 12px; "></span></a></th>
                            <th style="font-size: 13px;"><a ng-click="Sort('shopsdata.shopinfo[0].state')" class="location" style="color: #ffffff;">LOCATION<span class="glyphicon glyphicon-sort" style="margin-left: 10px; font-size: 12px; "></span></a></th>
                            <th style="font-size: 13px;"><a ng-click="Sort('shopsdata.shopinfo[0].chairs.length')" class="mobile_number" style="color: #ffffff;">CHAIRS  <span class="glyphicon glyphicon-sort" style="margin-left: 10px; font-size: 12px; "></span></a></th>
                            <th style="font-size: 13px;" width="20%"><a ng-click="Sort('shopsdata.email')" class="email" style="color: #ffffff;">Email  <span class="glyphicon glyphicon-sort" style="margin-left: 10px; font-size: 12px; "></span></a></th>
                            <th style="font-size: 13px;"><a ng-click="Sort('shopsdata.created_date')" class="created_date" style="color: #ffffff;">Created Date  <span class="glyphicon glyphicon-sort" style="margin-left: 10px; font-size: 12px; "></span></a></th>
                            <th style="font-size: 13px;"><a ng-click="Sort('totalBarbers')" class="mobile_number" style="color: #ffffff;">BARBERS  <span class="glyphicon glyphicon-sort" style="margin-left: 10px; font-size: 12px; "></span></a></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="shop in shops | orderBy:sort:reverse ">
                            <td>{{shop.shopsdata.shopinfo[0].name}}</td>
                            <td><a data-toggle="tooltip" title="View {{shop.shopsdata.shopinfo[0].name}}'s detailed info" ui-sref="shopdetail({id:shop.shopsdata.shopinfo[0].user_id})">{{shop.shopsdata.first_name}} {{shop.shopsdata.last_name}}</a></td>
                            <td>{{shop.shopsdata.shopinfo[0].state}} </td>
                            <td><a data-toggle="tooltip" title="View Chairs in {{shop.shopsdata.shopinfo[0].name}}" ui-sref="chairs({id:shop.shopsdata.shopinfo[0].user_id})"> {{shop.shopsdata.shopinfo[0].chairs.length}}</a> </td>
                            <td>{{shop.shopsdata.email}}</td>
                            <td>{{shop.shopsdata.created_date| date:dd/mm/yyyy}}</td>
                            <td><a data-toggle="tooltip" title="VIEW BARBERS IN {{shop.shopsdata.shopinfo[0].name}}" ui-sref="barbdetail({id:shop.shopsdata.shopinfo[0].user_id})"> {{shop.totalBarbers}} </a> </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <div class="col-sm-6">
                    <ul uib-pagination total-items="myobj.totalItems" ng-model="myobj.currentPage" ng-change="shoppageChanged()"></ul>
                </div>
                <br>
                <!-- <label>No. of Enteries</label>
            <select ng-model="quantity">
              <option value="">All</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select> -->
            </div>
            <!-- Modal -->
            <!-- RAHUL CODE -->
        </div>
    </div>
