<div class="panel" ng-init="custpageChanged()">
  <div class="panel-heading">
    All Customers
  </div>
  <div class="panel-body">
                    <!-- RAHUL  CODE -->

                        <!-- Page Content -->
       <div id="page-content-wrapper" >
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6" style="margin-left: 300px;">
                    
                    </div>
                    <div>
                    <span class="glyphicon glyphicon-search" style="color:purple" ></span>
                    <input ng-model="myobj.search" placeholder="Search for..." ng-change="custpageChanged()"/>          
                    </div> 
                </div>

<table class="table" >
    <thead>
        <tr >
         
            <th style="font-size: 20px;" width="20%"><a ng-click="Sort('first_name')" class="first_name" style="color: #ffffff;" >NAME<span class="glyphicon glyphicon-sort" style="margin-left: 10px; font-size: 12px; color: black;"></span></a></th>
            <th style="font-size: 20px;" width="25%"><a ng-click="Sort('email')" class="email" style="color: #ffffff;">EMAIL<span class="glyphicon glyphicon-sort" style="margin-left: 10px; font-size: 12px; color: black;"></span></a></th>
            <th style="font-size: 20px;" width="15%"><a ng-click="Sort('mobile_number')" class="mobile_number" style="color: #ffffff;">MOBILE <span class="glyphicon glyphicon-sort" style="margin-left: 10px; font-size: 12px; color: black;"></span></a></th>
            <th style="font-size: 20px;" width="15%">IsACTIVE</th>
            <th style="font-size: 20px;" width="15%">IsVERIFIED</th>
            <th style="font-size: 20px;" width="25%"><font align="center">ACTION</th></font>
        </tr>
    </thead>
    <tbody>
        <tr data-ng-repeat="customer in customers | orderBy:sort:reverse | limitTo:quantity" data-ng-class="{danger:!customer.active}">
        <td>
            <span data-ng-hide="editMode">{{customer.first_name}} {{customer.last_name}} </span>
            <input type="text" data-ng-show="editMode" data-ng-model="customer.first_name" placeholder="first name" data-ng-required /><input type="text" data-ng-show="editMode" placeholder="last name" data-ng-model="customer.last_name" data-ng-required />
        </td>
        <td>
            <span data-ng-hide="editMode">{{customer.email}}</span>
         <input type="email" data-ng-show="editMode" data-ng-model="customer.email" placeholder="email" data-ng-required />
        </td>
        <td>
            <span data-ng-hide="editMode">{{customer.mobile_number}} </span>
            <input type="text" pattern="[789][0-9]{9}" data-ng-show="editMode" data-ng-model="customer.mobile_number" placeholder="mobile" data-ng-required />
        </td>
        <td> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span ng-if="customer.isActive==true">
         
              <a data-toggle="tooltip" title="Deactivate" onClick="history.go(0)" ng-click="deactivecust(customer)"><i class="fa fa-toggle-on" style="font-size: 30px;" aria-hidden="true"></i></a></span>
              <span ng-if="customer.isActive==false">
              
              <a  data-toggle="tooltip" ng-click="activatecust(customer)" onClick="history.go(0)" title="Activate"><i class="fa fa-toggle-off" aria-hidden="true" style="font-size: 30px;"></i></a> </span></span>
        </td>
         <td> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <span ng-if="customer.is_verified==true">
        
              <a data-toggle="tooltip" title="Disapprove"  onClick="history.go(0)"  ng-click="disapprovecust(customer)"><i class="fa fa-toggle-on" style="font-size: 30px;color: green;" aria-hidden="true"></i></a></span>
              <span ng-if="customer.is_verified==false">
              <a  data-toggle="tooltip" title="Verify" onClick="history.go(0)"  ng-click="verifycust(customer)"><i class="fa fa-toggle-off" aria-hidden="true" style="font-size: 30px;color: green;"></i></a> </span>
        </td>
        <td>
            <a data-ng-hide="editMode" data-ng-click="editMode = true" class="glyphicon glyphicon-pencil" style="font-size: 20px;" data-toggle="tooltip" title="EDIT DETAILS"></a>
            <span data-toggle="modal" data-target="#confirm">
             <a type="submit" ng-click="deleteconfirmcustomer(customer)" data-ng-hide="editMode" class="glyphicon glyphicon-trash" style="font-size: 20px;margin-left: 20px;color: #9e0e0b;" data-toggle="tooltip" title="DELETE RECORD"></a></span>
             <span data-toggle="modal" data-target="#viewModal">
             <a type="submit" ng-click="custdetails(customer)" data-ng-hide="editMode" class="glyphicon glyphicon-eye-open" style="font-size: 20px;margin-left: 20px;color: #9e0e0b;" data-toggle="tooltip" title="VIEW DETAILS"></a></span>
             <span data-toggle="modal" data-target="#myModal">
            <a type="submit" data-ng-show="editMode" data-ng-click="editMode = false; updatecustomer(customer)" class="glyphicon glyphicon-check" style="font-size: 25px;margin-left: 20px;color: #17a109;" data-toggle="tooltip" title="SAVE DETAILS" id="btnAlert"  ></a></span>
            <a type="submit" data-ng-show="editMode" data-ng-click="editMode = false; cancel()" class="glyphicon glyphicon-ban-circle" style="font-size: 25px;margin-left: 20px;color: #f94040;" data-toggle="tooltip" title="CANCEL"></a>
        </td>
</tr>
</tbody>
</table>
</div>
<div>
<div class="col-sm-6">
     <ul uib-pagination total-items="myobj.totalItems" ng-model="myobj.currentPage" ng-change="custpageChanged()"></ul>       
          </div>
<br>
<label>No. of Enteries</label>
            <select ng-model="quantity">
              <option value="">All</option>
              <option value="1">1</option>
              <option value="3">3</option>
              <option value="5">5</option>
              <option value="7">7</option>
              <option value="10">10</option>
            </select>
</div>

             <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style="background-color: #c2f7b5;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Saved</h4>
        </div>
        <div class="modal-body">
          <p>Your Changes are saved successfully</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
        </div>
      </div>
      
    </div>
  </div>

    <div class="modal fade" id="myAnotherModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style="background-color: #d6110c;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Deleted</h4>
        </div>
        <div class="modal-body">
          <p>Record Deleted successfully</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
        </div>
      </div>
      
    </div>
  </div>


   <div class="modal fade" id="viewModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style="background-color: #5cfcfa;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Details</h4>
        </div>
        <div class="modal-body">
          <p>NAME :{{customerdetail.first_name}} {{customerdetail.last_name}} <br>
          EMAIL : {{customerdetail.email}} <br>
          PHONE : {{customerdetail.mobile_number}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
        </div>
      </div>
      
    </div>
  </div>
        

        <div class="modal fade" id="deactive" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style="background-color: #f52727;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Deacticvated</h4>
        </div>
        <div class="modal-body">
          <p>
          This Record Is Deactivaed Successfully,
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
        </div>
      </div>
      
    </div>
  </div>


  <div class="modal fade" id="active" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style="background-color: #c2f7b5;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Acticvated</h4>
        </div>
        <div class="modal-body">
          <p>
          The Record Is Activated Successfully,
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
        </div>
      </div>
      
    </div>
  </div>
            

            <div class="modal fade" id="verified" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style="background-color: #c2f7b5;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Verified</h4>
        </div>
        <div class="modal-body">
          <p>
          The Record Is Verified Successfully,
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
        </div>
      </div>
      
    </div>
  </div>
                   <!-- RAHUL CODE -->



    <div class="modal fade" id="confirm" role="dialog" >
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
          <p>
          Are You Sure!!!!!! 
          You want to Delete this Record 
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="deletecustomer(customer)" data-toggle="modal" data-target="#myAnotherModal">DELETE</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">CANCEL</button>
        </div>
      </div>
      
    </div>
  </div>


              <div class="modal fade" id="disaproved" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style="background-color: #c2f7b5;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Disaproved</h4>
        </div>
        <div class="modal-body">
          <p>
          The Record Is Disaproved Successfully,
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
        </div>
      </div>
      
    </div>
  </div>
                    <!-- RAHUL CODE -->

                  </div>
                </div>
