<div ng-if="loaderStart" loader-css="line-scale-pulse-out" class="loader"></div>
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a ui-sref="dashboard">Home</a></li>
    <li class="breadcrumb-item active">Customer Appointments</li>
</ol>
<div class="panel" ng-init="custAppoint()">
    <div class="panel-body">
        <ol class="breadcrumb">
        <li class="breadcrumb-item" ng-click="filterAppointment('completed')"><a href="" >Total Completed : {{totalappointment.totalCompleted}}</a></li>
        <li class="breadcrumb-item" ng-click="filterAppointment('cancel')"><a href="" >Total Cancel : {{totalappointment.totalCancel}}</a></li>
        <li class="breadcrumb-item" ng-click="filterAppointment('confirm')"><a href="" >Total Confirm : {{totalappointment.totalConfirm}}</a> </li>
        <li class="breadcrumb-item" ng-click="filterAppointment('')"><a href="" >Reset View </a> </li>
    </ol>
    </div>
    <div class="panel-heading">
        All Customers Appointments
    </div>
    
    <div class="panel-body">
        <br>
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6" style="margin-left: 300px;">
                    </div>
                    <div>
                        <span class="glyphicon glyphicon-search" style="color:purple"></span>
                        <input ng-model="appointmentObj.search" placeholder="Search for..." ng-change="custAppoint()" />
                    </div>
                </div>
                <table id="example1" class="table table-bordered table-striped" ng-table="tableParams" show-filter="isFiltersVisible">
                    <tr ng-repeat = "user in $data track by $index">
                        <td data-title="'Customer'" sortable="'first_name'" filter="{name:'text'}">
                            {{user.customer_first_name}} {{user.customer_last_name}}</a>
                        </td>
                        <td data-title="'Barber'" sortable="'barber_first_name'" filter="{name:'text'}">{{user.barber_first_name}} {{user.barber_last_name}}
                        </td>
                        <td data-title="'Shop'" sortable="'shop_name'" filter="{name:'text'}">
                            {{user.shop_name}}
                        </td>
                        <td data-title="'Services'">
                            <span ng-if="user.services[0].name">
                                {{user.services[0].name}}  ${{user.services[0].price}}
                            </span>  
                            <span ng-if="user.services[1].name">,
                                 {{user.services[1].name}}  ${{user.services[1].price}}
                             </span>
                        </td>
                        <td data-title="'Appointment Status'">
                            {{user.appointment_status}}
                        </td>
                        <td data-title="'Appointment Date'" sortable="'appointment_date'" filter="{name:'text'}">
                           {{user.appointment_date | date:'MM/dd/yyyy h:mma'}}
                        </td>
                        <td data-title="'Total Cost'">
                          ${{user.totalPrice | number:2}}
                        </td>
                        <td data-title="'View Detail'">
                             <a type="submit" ui-sref="detailed_appointment({_id:user._id})" class="glyphicon glyphicon-eye-open" style="font-size: 20px;margin-left: 20px;color: #9e0e0b;" data-toggle="tooltip" title="VIEW DETAILS"></a>
                        </td>
                    </tr>
                </table>

                 <div>
            </div>
                <!-- </span> -->
            </div>
            <div>
            </div>
            <!-- Modal -->
            <script type="text/javascript">
            $('.dropdown-toggle').dropdown();

            $('.dropdown-menu > li').click(function() {
                var $toggle = $(this).parent().siblings('.dropdown-toggle');
                $toggle.html("<i class=\"icon icon-envelope icon-white\"></i> " + $(this).text() + "<span class=\"caret\"></span>")
            });
            </script>