<div ng-if="loaderStart" loader-css="line-scale-pulse-out" class="loader"></div>
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a ui-sref="dashboard">Home</a></li>
    <li class="breadcrumb-item active">Customer Appointments</li>
</ol>
<div class="panel" ng-init="custAppoint()">
    <div class="panel-heading">
        All Customers Appointments
    </div>
    <div class="panel-body">
        <br>
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6" style="margin-left: 300px;">
                    </div>
                    <div>
                        <span class="glyphicon glyphicon-search" style="color:purple"></span>
                        <input ng-model="appointmentObj.search" placeholder="Search for..." ng-change="custAppoint()" />
                    </div>
                </div>
                <!-- <table class="table">
                    <thead>
                        <tr>
                            <th style="font-size: 15px;"><a ng-click="Sort('customer_name')" class="name" style="color: #ffffff;">Customer<span class="glyphicon glyphicon-sort" style="margin-left: 10px; font-size: 12px; "></span></a></th>
                            <th style="font-size: 15px;"><a ng-click="Sort('barber_name')" class="name" style="color: #ffffff;">Barber<span class="glyphicon glyphicon-sort" style="margin-left: 10px; font-size: 12px; "></span></a></th>
                            <th style="font-size: 15px;"><a ng-click="Sort('shop_name')" class="name" style="color: #ffffff;">Shop<span class="glyphicon glyphicon-sort" style="margin-left: 10px; font-size: 12px; "></span></a></th>
                            <th style="font-size: 15px;"><a ng-click="Sort('appointment_status')" class="name" style="color: #ffffff;">Appointment Status<span class="glyphicon glyphicon-sort" style="margin-left: 10px; font-size: 12px; "></span></a></th>
                            <th style="font-size: 15px;"><a ng-click="Sort('appointment_date')" class="name" style="color: #ffffff;">Appointment Date<span class="glyphicon glyphicon-sort" style="margin-left: 10px; font-size: 12px; "></span></a></th>
                            <th style="font-size: 15px;">View Detail</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="appoint in allAppointments | orderBy:sort:reverse | filter:query">
                            <td>
                                {{appoint.customer_first_name}} {{appoint.customer_last_name}}
                            </td>
                            <td>
                                {{appoint.barber_first_name}} {{appoint.barber_last_name}}
                            </td>
                            <td>
                                {{appoint.shop_name}}
                            </td>
                            <td>
                                {{appoint.appointment_status}}
                            </td>
                            <td>
                                {{appoint.appointment_date | date : dd/mm/yyyy}}
                            </td>
                            <td>
                                <a type="submit" ui-sref="detailed_appointment({_id:appoint._id})" class="glyphicon glyphicon-eye-open" style="font-size: 20px;margin-left: 20px;color: #9e0e0b;" data-toggle="tooltip" title="VIEW DETAILS"></a>
                            </td>
                        </tr>
                    </tbody>
                </table> -->

                <table id="example1" class="table table-bordered table-striped" ng-table="tableParams" show-filter="isFiltersVisible">
                    <tr ng-repeat = "user in $data track by $index">
                        <td data-title="'Customer'" sortable="'first_name'" filter="{name:'text'}">
                            {{user.customer_first_name}} {{user.customer_last_name}}</a>
                        </td>
                        <td data-title="'Barber'" sortable="'barber_first_name'" filter="{name:'text'}">{{user.barber_first_name}} {{user.barber_last_name}}
                        </td>
                        <td data-title="'Shop'" sortable="'shop_name'" filter="{name:'text'}">
                            {{user.shop_name}}
                        </td>
                        <td data-title="'Appointment Status'">
                            {{user.appointment_status}}
                        </td>
                        <td data-title="'Appointment Date'" sortable="'appointment_date'" filter="{name:'text'}">
                           {{user.appointment_date | date : dd/mm/yyyy}}
                        </td>
                        <td data-title="'View Detail'">
                             <a type="submit" ui-sref="detailed_appointment({_id:user._id})" class="glyphicon glyphicon-eye-open" style="font-size: 20px;margin-left: 20px;color: #9e0e0b;" data-toggle="tooltip" title="VIEW DETAILS"></a>
                        </td>
                    </tr>
                </table>

                 <div>
            </div>
                <!-- </span> -->
            </div>
            <div>
            </div>
            <!-- Modal -->
            <script type="text/javascript">
            $('.dropdown-toggle').dropdown();

            $('.dropdown-menu > li').click(function() {
                var $toggle = $(this).parent().siblings('.dropdown-toggle');
                $toggle.html("<i class=\"icon icon-envelope icon-white\"></i> " + $(this).text() + "<span class=\"caret\"></span>")
            });
            </script>