<style type="text/css">
table#example1 th:nth-child(4){
    width: 10%;
}
table#example1 th:nth-child(5){
    width: 10%;
}
table#example1 th:nth-child(2){
    width: 25%;
}
table#example1 th:nth-child(1){
    width: 15%;
    word-wrap:break-word;
}
</style>
<div ng-if="loaderStart" loader-css="line-scale-pulse-out" class="loader"></div>
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a ui-sref="dashboard">Home</a></li>
    <li class="breadcrumb-item active">Barbers</li>
</ol>
<div class="panel" ng-init="pageChanged()">
    <div class="panel-heading">
        All Barbers
    </div>
    <div class="panel-body">
        <!-- RAHUL  CODE -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6" style="margin-left: 300px;">
                    </div>
                    <div>
                        <span class="glyphicon glyphicon-search" style="color:purple"></span>
                        <input ng-model="myobj.search" placeholder="Search for..." ng-change="pageChanged()" />
                    </div>
                </div>
                <table id="example1" class="table table-bordered table-striped" ng-table="tableParams" show-filter="isFiltersVisible">
                    <tr ng-repeat="user in $data track by $index">
                        <td data-title="'Name'" sortable="'first_name'" filter="{name:'text'}">
                            <a data-toggle="tooltip" title="View Details" ui-sref="barbersdetail({id:user._id})">{{user.first_name}} {{user.last_name}}</a>
                        </td>
                        <td data-title="'Email'" width="40%">{{user.email}}</td>
                        <td data-title="'Member Since'" sortable="'created_date'" filter="{created_date:'text'}">{{user.created_date | date:dd/mm/yyyy}}</td>
                        <td data-title="'Rating'" sortable="'barber_rating'" filter="{barber_rating:'text'}" width="10%">{{user.barber_rating}}</td>
                        <td data-title="'Total_Cuts'" sortable="'barber_numberof_cuts'" filter="{barber_numberof_cuts:'text'}" width="10%">{{user.barber_numberof_cuts}}</td>

                        <td data-title="'Is Online'">
                            <span ng-hide="user.is_online!=true">
              <a title="Go Offline" ng-click="getBarberId(user._id)" data-toggle="modal" data-target="#secondModel"><i class="fa fa-toggle-on" style="font-size: 30px;color:green;" aria-hidden="true"></i></a></span>
                            <span ng-show="user.is_online==false">
              <a title="Go Online" ng-click="barbrInfo(user._id)" data-toggle="modal" data-target="#myModal"><i class="fa fa-toggle-off" aria-hidden="true" style="font-size: 30px;color:red;"></i></a> </span>
                        </td>
                        <td data-title="'Is Available'">
                            <span ng-hide="user.is_available!=true">
                                <span ng-if="user.is_online==true">
                                <a title="Not Available" ng-click="notavailable(user._id)" data-toggle="modal" data-target="#notavailable"><i class="fa fa-toggle-on" style="font-size: 30px;color:green;" aria-hidden="true"></i></a>
                                </span>
                                <span ng-if="user.is_online!=true">
                                <i title="You can change availability only if Barber Is online" data-toggle="modal" class="fa fa-toggle-on" style="font-size: 30px;color:green;" aria-hidden="true"></i>
                                </span>
                            </span>
                            <span ng-show="user.is_available==false" >
                                <span ng-if="user.is_online==true">
                                <a title="Available" ng-click="available(user._id)" data-toggle="modal" data-target="#available"><i class="fa fa-toggle-off" aria-hidden="true" style="font-size: 30px;color:red;"></i></a> 
                                </span>
                                <span ng-if="user.is_online!=true">
                                <i title="You can change availability only if Barber Is online" data-toggle="modal" class="fa fa-toggle-off" aria-hidden="true" style="font-size: 30px;color:red;"></i>
                                </span>
                             </span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Barber Go Online With Shop</h4>
            </div>
            <div class="modal-body">
                <span ng-if="barberInfo.associateShops.length==0"><br>Not Assiciated With Any Shop</span>
                <div ng-if="barberInfo.associateShops.length!=0">
                    <form class="form-horizontal">
                        <div ng-repeat="myservice in allservices">
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-3 control-label">{{myservice.name | uppercase}} $</label>
                                <div class="col-sm-9">
                                    <div class="inline">
                                        <div>
                                            <input type="text" class="form-control" style="width:98%" ng-model="price[$index]">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label"> SHOP</label>
                            <div class="col-sm-9">
                                <select class="form-control" ng-model="shopid._id" ng-options="x._id as x.name for x in barberInfo.associateShops" class="form-control" ng-change="getUserId(shopid._id)">
                                    <option value="" selected>--select shop--</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="submit(shopid._id)">Go Online Now </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="secondModel" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Barber Go Offline With Shop</h4>
            </div>
            <div class="modal-body">
                Are you sure You want to make this barber offline
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="goOffline()">Submit </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="available" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <p>
                    Are You Sure!!!!!! You want to Available
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="goavailable()" data-toggle="modal">Yes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">CANCEL</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="notavailable" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <p>
                    Are You Sure!!!!!! You want to UnAvailable
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="gounavailable()" data-toggle="modal">Yes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">CANCEL</button>
            </div>
        </div>
    </div>
</div>