<div ng-if="loaderStart" loader-css="line-scale-pulse-out" class="loader"></div>
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a ui-sref="dashboard">Home</a></li>
    <li class="breadcrumb-item"><a ui-sref="barbers">Barbers</a></li>
    <li class="breadcrumb-item active">Edit Barber</li>
</ol>
<div class="panel" ng-init="barberDetails()">
    <div class="panel-heading">
        Edit Barber
    </div>
    <div class="panel-body">
        <div ng-if="messages" role="alert" class="alert alert-danger">
            <div>
                {{messages}}</div>
        </div>
        <div class="title">
            Barber Information
        </div>
        <form name="editForm">
            <div class="clearfix">
                <div class="col-sm-4 form-group">
                    <label>First Name</label>
                    <input type="text" class="form-control" name="first_name" data-ng-model="barberdetail.first_name" ng-pattern="/^[a-z ,.'-]+$/i" ng-minlength="3" ng-maxlength="20" maxlength="21" required/>
                    <span style="color:red;" ng-show="editForm.first_name.$error.required">First Name cannot left blank</span>
                    <span style="color:red;" ng-show="editForm.first_name.$error.pattern">Enter Valid Character</span>
                    <br>
                    <span style="color:red " ng-show="editForm.first_name.$error.maxlength && editForm.first_name.$dirty">First name maximum length exceeds</span>
                </div>
                <div class="col-sm-4 form-group">
                    <label>Last Name</label>
                    <input type="text" class="form-control" name="last_name" data-ng-model="barberdetail.last_name" ng-pattern="/^[a-z ,.'-]+$/i" ng-minlength="3" ng-maxlength="20" maxlength="21" required/>
                    <span style="color:red;" ng-show="editForm.last_name.$error.required">Last Name cannot left blank</span>
                    <span style="color:red;" ng-show="editForm.last_name.$error.pattern">Enter Valid Character</span>
                    <br>
                    <span style="color:red " ng-show="editForm.last_name.$error.maxlength && editForm.last_name.$dirty">First name maximum length exceeds</span>
                </div>
                <div class="col-sm-4 form-group">
                    <label>Mobile Number</label>
                    <input type="text" class="form-control" name="mobile_number" id="mobile_number" ng-model="barberdetail.mobile_number" mask="(999) 999-9999" mask-clean='true' mask-restrict='reject' ng-minlength="14" ng-maxlength="14" maxlength="14" required/>
                    <span style="color:red;" ng-show="editForm.mobile_number.$error.minlength">Phone have 10-digits minimum.</span>
                </div>
            </div>
            <div class="clearfix">
                <div class="col-sm-4 form-group">
                    <label>Email</label>
                    <input type="text" class="form-control" name="email" data-ng-model="barberdetail.email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" readonly/>
                    <span style="color:red;" ng-show="editForm.email.$error.required">Email cannot left blank</span>
                </div>
                <div class="col-sm-4 form-group">
                    <label>Date Of Creation</label>
                    <input size="30" height="30px" type="text" data-ng-model="barberdetail.created_date" readonly class="form-control">
                </div>
                <div class="col-md-4 form-group">
                    <label>Subscription End Date</label>
                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="barberdetail.endDate" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                    <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                </div>
            </div>
            <div class="clearfix">
                <div class="col-sm-2 form-group">
                    <label>Is Active</label>
                    <br>
                    <input type="radio" ng-model="barberdetail.is_active" name="active" value="true" ng-checked="barberdetail.is_active==true">YES&nbsp;&nbsp;&nbsp;
                    <input type="radio" name="active" value="false" ng-model="barberdetail.is_active" ng-checked="barberdetail.is_active == false">NO
                </div>
                <div class="col-sm-2 form-group">
                    <label>Is Verified</label>
                    <br>
                    <input type="radio" ng-model="barberdetail.is_verified" name="verify" value="true" ng-checked="barberdetail.is_verified==true">YES&nbsp;&nbsp;&nbsp;
                    <input type="radio" name="verify" ng-model="barberdetail.is_verified" value="false" ng-checked="barberdetail.is_verified == false">NO
                </div>
                <div class="col-sm-2 form-group">
                    <label>Is Deleted</label>
                    <br>
                    <input type="radio" ng-model="barberdetail.is_deleted" name="delete" value="true" ng-checked="barberdetail.is_deleted==true">YES&nbsp;&nbsp;&nbsp;
                    <input type="radio" name="delete" value="false" ng-model="barberdetail.is_deleted" ng-checked="barberdetail.is_deleted == false">NO
                </div>
                <!-- <div class="col-sm-2 form-group">
                    <label>Is Online</label>
                    <br>
                    <input type="radio" ng-model="barberdetail.is_online" name="online" value="true" ng-checked="barberdetail.is_online==true">YES&nbsp;&nbsp;&nbsp;
                    <input type="radio" name="online" value="false" ng-model="barberdetail.is_online" ng-checked="barberdetail.is_online == false">NO
                </div> -->
                <!-- <div class="col-sm-2 form-group">
                    <label>Is Available</label>
                    <br>
                    <input type="radio" ng-model="barberdetail.is_available" name="available" value="true" ng-checked="barberdetail.is_available==true">YES&nbsp;&nbsp;&nbsp;
                    <input type="radio" name="available" value="false" ng-model="barberdetail.is_available" ng-checked="barberdetail.is_available == false">NO
                </div> -->
            </div>
    </div>
</div>
<div class="clearfix text-center">
    <button type="submit" class="btn btn-primary" ng-click="updatebarberinformation(barberdetail)">
        <i class="fa fa-check" aria-hidden="true"></i>
        <span>Save
      </button></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="reset" class="btn btn-grey" ui-sref="barbersdetail({id:barberdetail._id})">
            <i class="fa fa-times" aria-hidden="true"></i>
            <span>Cancel</span>
        </button>
</div>
</form>
</div>
<br>
<br>
<div class="panel" ng-init="barberDetails()">
    <div class="panel-heading">
        Barber Gallery
    </div>
    <div class="panel-body">
        <div ng-if="messages" role="alert" class="alert alert-danger">
            <div>
                {{messages}}</div>
        </div>
        <div class="block">
            <span ng-if="images==''"><h3 align="center">No images in gallery</h3></span>
            <span ng-if="images!=''">
                    <div class="allgallery row">
                        <div class="col-md-4 col-sm-4" style="position: relative;" ng-repeat="pic in images">
                            
                                <img src="{{pathimg+pic.name}}" alt="" style="height: 300px;">
                            
                            <div style="position: absolute;">
                            <a ng-click="delpic(pic)"><i class="fa fa-window-close" aria-hidden="true" style="
    margin-left: 185px;
    font-size: 20px;
"></i></a>
                            </div>
                        </div>
                    </div>
                    </span>
        </div>
    </div>
</div>
<div class- "panel-body">
    <div ng-if="messages" role="alert" class="alert alert-danger">
        <div>
            {{messages}}</div>
    </div>
    <div class="title">
        Update Password
    </div>
    <form name="updateForm">
        <div class="clearfix">
            <div class="col-sm-4 form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="password" data-ng-model="barberdetail.password" ng-minlength="5" ng-maxlength="20" maxlength="21" required />
                <div class="validationError" ng-if="!updateButton" ng-show="updateForm.password.$error.minlength">
                    <span style="color:red ">password too Short (atleast 5 characters)</span>
                </div>
                <div class="validationError" ng-if="!updateButton" ng-show="updateForm.password.$error.maxlength && updateForm.password.$dirty">
                    <span style="color:red ">password maximum length exceeds</span>
                </div>
            </div>
            <div class="col-sm-4 form-group">
                <label>Confirm Password</label>
                <input type="password" class="form-control" name="confirmPassword" id="confirmPassword" ng-model="barberdetail.confirm" required ng-pattern="barberdetail.password" />
                <div class="validationError" ng-messages="updateForm.confirmPassword.$error" ng-show=" updateForm.confirmPassword.$error.pattern && (!updateForm.confirmPassword.$pristine || updateForm.$submitted)" role="alert ">
                    <span style="color:red " ng-if="!updateButton" ng-message="pattern">password do not match</span>
                </div>
            </div>
            <div class="col-sm-4 form-group">
                <button type="submit" class="btn btn-primary" ng-disabled="updateForm.$invalid" ng-click="updatebarber(barberdetail)" style="margin-top:25px">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <span>Update
                  </button>
                </div>
            </div>
    </form>
</div>


</div>
<script type="text/javascript">
window.addEventListener('keydown', function(e) {
    if (e.keyIdentifier == 'U+000A' || e.keyIdentifier == 'Enter' || e.keyCode == 13) {
        if (e.target.nodeName == 'INPUT' && e.target.type == 'text') {
            e.preventDefault();
            return false;
        }
    }
}, true);
</script>

