<div ng-if="loaderStart" loader-css="line-scale-pulse-out" class="loader"></div>
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a ui-sref="dashboard">Home</a></li>
    <li class="breadcrumb-item"><a ui-sref="barbers">Barbers</a></li>
    <li class="breadcrumb-item active">View Barber Details</li>
</ol>
<ul class="nav nav-tabs">
    <li class="active"><a ui-sref="barbersdetail({id:barberdetail._id})" style="color: black;font-size: 15px;">View Barber</a></li>
    <!--  <li><a ui-sref="assoc" style="color: black;font-size: 15px;">Associated Shops-Chairs</a></li>
        <li><a ui-sref="barber-appointments({id:barberdetail._id})"  style="color: black;font-size: 15px;">Appointments</a></li> -->
</ul>
<br>
<div class="container" ng-init="barberDetails()">
    <div>
        <div ng-if="messages" role="alert" class="alert alert-danger">
            <div>
                {{messages}}</div>
        </div>
        <div class="row list-group">
            <div class="item  col-xs-12 col-lg-12">
                <div class="thumbnail">
                    <div class="caption">
                        <h4 class="group inner list-group-item-heading" align="center"><b>
                       <font color="blue"> {{barberdetail.first_name}} &nbsp; {{barberdetail.last_name}} </font></b></h4>
                        <hr/>
                        <div class="col-lg-6">
                            <h4 class="group inner list-group-item-heading" align="center"><b>
                        Associated Shops</b></h4>
                            <span ng-if="!barberdetail.associateShops"><br><br><br>Not Assiciated With Any Shop</span>
                            <div ng-repeat="data in barberdetail.associateShops" style="width: 100%;float: left;">
                                <div style="width:50%;float:left;" class="list-group">
                                    <a class="list-group-item list-group-item-action">
                                        {{data.name}}
                                    </a>
                                </div>
                                <div style="width:50%;float:right;">
                                    <button ng-click="removeShop(data._id)" title="Remove shop" style="border: none;background: none;margin: 4px 10px;font-size: 24px;color: #db241c;"><i class="fa fa-minus-circle"></i></button>
                                    <button ng-if="data.is_default==false" title="Make default" ng-click="addDefaultShop(data._id)" style="border: none;background: none;margin: 4px 10px;font-size: 24px;color: #27499E;"><i class="fa fa-check-circle"></i></button>
                                </div>
                            </div>
                            <h4 class="group inner list-group-item-heading" align="center"><b>
                        Add Shops</b></h4>
                            <span class="glyphicon glyphicon-search" style="color:purple"></span>
                            <input ng-model="myobj.search" placeholder="Search by Name , City , Zip " ng-change="barberDetails()" style="width: 100%; margin-top: 10px;" />
                            <br>
                            <div ng-show="myobj.search">
                                <!-- <input type="text" class="form-control" name="first_name" ng-model="searchshop" placeholder="search shops"/><br> -->
                                <!--        <div ng-repeat="data in showShops" style="width: 100%;float: left;">
                                    <div style="width:50%;float:left;" class="list-group">
                                        <a class="list-group-item list-group-item-action">
                                        {{data.label}}
                                    </a>
                                    </div>
                                    <div style="width:50%;float:right;">
                                        <button ng-click="addAssociateShop(data.id)" title="Add shop" style="border: none;background: none;margin: 4px 10px;font-size: 24px;color: #359a0d;"><i class="fa fa-plus-circle"></i></button>
                                    </div>
                                </div> -->
                                <table id="example1" class="table table-bordered table-striped" ng-table="tableParams" show-filter="isFiltersVisible" style="margin-top: 10px;">
                                    <tr ng-repeat="user in data track by $index">
                                        <td data-title="'Name'" sortable="'name'"><i class="fa fa-info-circle" data-toggle="tooltip" title="{{user.address}},{{user.city}},{{user.state}}" aria-hidden="true"></i>
                                        {{user.name}}</td>
                                        <td data-title="'Add'">
                                            <button ng-click="addAssociateShop(user._id)" title="Add shop" style="border: none;background: none;margin: 4px 10px;font-size: 24px;color: #359a0d;"><i class="fa fa-plus-circle"></i></button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="  col-lg-6">
                            <h4 class="group inner list-group-item-heading" align="center"><b>
                        Barber Details </b></h4>
                            <table class="table table-striped">
                                <tr>
                                    <td width="50%">
                                        <h5>BARBER NAME</h5></td>
                                    <td> {{barberdetail.first_name}} &nbsp; {{barberdetail.last_name}} </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h5> MOBILE</h5></td>
                                    <td> {{barberdetail.mobile_number}} </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h5> EMAIL</h5></td>
                                    <td> {{barberdetail.email}} </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h5> Number Of Cuts</h5></td>
                                    <td> {{numberOfCuts}} </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h5> Rating</h5></td>
                                    <td> {{ratings}} </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h5>DATE OF CREATION</h5></td>
                                    <td> {{barberdetail.created_date | date :dd/mm/yyyys}} </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h5>IS BARBER ACTIVE</h5></td>
                                    <td> {{barberdetail.is_active}} </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h5>IS BARBER VERIFIED</h5></td>
                                    <td> {{barberdetail.is_verified}} </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h5>IS BARBER DELETED</h5></td>
                                    <td> {{barberdetail.is_deleted}} </td>
                                </tr>
                                <!-- <tr>
                                    <td>
                                        <h5>IS BARBER ONLINE</h5></td>
                                    <td> {{barberdetail.is_online}} </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h5>IS BARBER AVAILABLE</h5></td>
                                    <td> {{barberdetail.is_available}} </td>
                                </tr> -->
                                <!-- <tr>
                                    <td>
                                        <h5>GALLERY</h5></td>
                                    <td> {{barberdetail.gallery}} </td>
                                </tr> -->
                                <!-- <tr>
                                    <td>
                                        <h5>RATINGS</h5></td>
                                    <td> {{barberdetail.ratings[0].score}}</td>
                                </tr> -->
                                <!-- <tr>
                                    <td>
                                        <h5>LAT LONG</h5></td>
                                    <td>{{barberdetail.latLong}} </td>
                                </tr> -->
                            </table>
                        </div>
                        <div class="clearfix"></div>
                        <div class="row">
                            <div class="col-xs-12 col-md-12 text-center">
                                <br>
                                <br>
                                <button class="btn btn-success" ui-sref="edit_barbers({id:barberdetail._id})">Edit Details</button>
                            </div>
                        </div>
                    </div>
                    <img src="/uploadedFiles/{{barberdetail.picture}}" style="margin-left: 30px;" height="20%" width="20%" />
                </div>
            </div>
        </div>
    </div>