<ol class="breadcrumb">
  <li class="breadcrumb-item"><a ui-sref="dashboard">Home</a></li>
  <li class="breadcrumb-item"><a ui-sref="shops">Shops</a></li>
  <li class="breadcrumb-item active">View Barber in Shops</li>
</ol>



<div class="panel">
  <div class="panel-heading">
    Barber Details
  </div>
  <div class="panel-body">
                    <!-- RAHUL  CODE -->

                        <!-- Page Content -->
       <div id="page-content-wrapper" >
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6" style="margin-left: 300px;">
                    
                    </div>
                    <div>
                    <span class="glyphicon glyphicon-search" style="color:purple" ></span>
                    <input ng-model="myobj.search" placeholder="Search for..." ng-change="shoppageChanged()"/>          
                    </div> 
                </div>

<table class="table">
    <thead>
        <tr >
         
            <th style="font-size: 20px;color: #ffffff;"><a ng-click="Sort('name')" class="first_name"  style="color: #ffffff;">NAME<span class="glyphicon glyphicon-sort" style="margin-left: 10px; font-size: 12px; "></span></a></th>
            <th style="font-size: 20px;"><a ng-click="Sort('city')" class="email"  style="color: #ffffff;">BARBER PERCENTAGE<span class="glyphicon glyphicon-sort" style="margin-left: 10px; font-size: 12px; "></span></a></th>
            <th style="font-size: 20px;"><a ng-click="Sort('chairs.length')" class="mobile_number"  style="color: #ffffff;">CHAIRNAME <span class="glyphicon glyphicon-sort" style="margin-left: 10px; font-size: 12px; "></span></a></th>

            <th style="font-size: 20px;">ACTION</th>
        </tr>
    </thead>
    <tbody >
        <tr ng-repeat="barbersinshop in chairdetails" ng-hide="!barbersinshop.barber_name">
       <td>
            {{barbersinshop.barber_name}}
        </td>
        <td>{{barbersinshop.barber_percentage}}
        </td>
           <td>{{barbersinshop.name}}
        </td>

        <td>
             <span data-toggle="modal" data-target="#myAnotherModal">
             <a type="submit"  data-ng-click="deleteshop(shop)" data-ng-hide="editMode" class="glyphicon glyphicon-trash" style="font-size: 20px;margin-left: 20px;color: #9e0e0b;" data-toggle="tooltip" title="DELETE RECORD"></a></span>
        </td>
</tr>
</tbody>
</table>
 </div>


         
             <!-- Modal -->

    <div class="modal fade" id="myAnotherModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style="background-color: #d6110c;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Deleted</h4>
        </div>
        <div class="modal-body">
          <p>Record Deleted successfully</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
        </div>
      </div>
      
    </div>
  </div>
        
        
