<div ng-if="loaderStart" loader-css="line-scale-pulse-out" class="loader"></div>
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a ui-sref="dashboard">Home</a></li>
    <li class="breadcrumb-item active">Barbers</li>
</ol>
<div class="panel" ng-init="pageChanged()">
    <div class="panel-heading">
        All Barbers
    </div>
    <div class="panel-body">
        <!-- RAHUL  CODE -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6" style="margin-left: 300px;">
                    </div>
                    <div>
                        <span class="glyphicon glyphicon-search" style="color:purple"></span>
                        <input ng-model="myobj.search" placeholder="Search for..." ng-change="pageChanged()" />
                    </div>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th style="font-size: 13px;"><a ng-click="Sort('first_name')" class="first_name" style="color: #ffffff;">Name<span class="glyphicon glyphicon-sort" style="margin-left: 10px; font-size: 12px;"></span></a></th>
                            <th style="font-size: 13px;"><a ng-click="Sort('first_name')" class="first_name" style="color: #ffffff;">E-mail<span class="glyphicon glyphicon-sort" style="margin-left: 10px; font-size: 12px;"></span></a></th>
                            <!-- <th style="font-size: 13px;"><a ng-click="Sort('name[0]')" class="name" style="color: #ffffff;">Shop Associated With<span class="glyphicon glyphicon-sort" style="margin-left: 10px; font-size: 12px;"></span></a></th> -->
                            <th style="font-size: 13px;" width="20%"><a ng-click="Sort('created_date')" class="created_date" style="color: #ffffff;">Member Since<span class="glyphicon glyphicon-sort" style="margin-left: 10px; font-size: 12px;"></span></a></th>
                            <!-- <th style="font-size: 13px;" width="20%">Associate to shop</th> -->
                            <th style="font-size: 13px;" width="20%">Is Online</th>
                            <th style="font-size: 13px;" width="20%">Is Available</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="barber in barbers| orderBy:sort:reverse " data-ng-class="{danger:!barber.active}">
                            <td>
                                <a data-toggle="tooltip" title="View Details" ui-sref="barbersdetail({id:barber._id})">{{barber.first_name}} {{barber.last_name}}</a>
                            </td>
                            <td>{{barber.email}}
                            </td>
                            <!-- <td><a data-toggle="tooltip" title="View {{barber.name[0]}}'s detailed info" ui-sref="shopdetail({id:barber.shop[0].user_id})">{{barber.name[0]}}</a>
                            </td> -->
                            <td>
                                {{barber.created_date | date:dd/mm/yyyy}}
                            </td>
                            <td>
                                {{barber.is_online}}
                                <span ng-hide="barber.is_online!=true">
              <a data-toggle="tooltip" title="DEACTIVATE RECORD" ng-click="showme=true"><i class="fa fa-toggle-on" style="font-size: 30px;" aria-hidden="true"></i></a></span>
                                <span ng-show="barber.is_online==false">
              <a ng-click="barbrInfo(barber._id)" data-toggle="modal" data-target="#myModal"><i class="fa fa-toggle-off" aria-hidden="true" style="font-size: 30px;"></i></a> </span>
                            </td>
                            <td>
                                {{barber.is_available}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <div class="col-sm-6">
                    <ul uib-pagination total-items="myobj.totalItems" ng-model="myobj.currentPage" ng-change="pageChanged()"></ul>
                </div>
                <br>
            </div>
            <!-- Modal -->
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Barber Go Online With Shop</h4>
            </div>
            <div class="modal-body">
                <span ng-if="barberInfo.associateShops.length==0"><br><br><br>Not Assiciated With Any Shop</span>
                <div ng-if="barberInfo.associateShops.length!=0" style="width: 100%;float: left;">
                    <select name="singleSelect" id="singleSelect" ng-model="shopid" class="form-control">
                        <option value="">---Please select---</option>
                        <!-- not selected / blank option -->
                        <option ng-repeat="data in barberInfo.associateShops" value="{{data._id}}">{{data.name}}</option>
                        <!-- interpolation -->
                    </select>
                    <div ng-repeat="myservice in allservices">
                        <label>{{myservice.name}}</label>
                        <input type="text" ng-model="myservice.price">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="submit(myservice)">Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>