<ol class="breadcrumb">
    <li class="breadcrumb-item"><a ui-sref="dashboard">Home</a></li>
    <li class="breadcrumb-item"><a ui-sref="shops">Shops</a></li>
    <li class="breadcrumb-item active">View Chairs</li>
</ol>
<div class="panel" ng-init="shopdetail()">
    <div class="panel-heading">
        Chair Details
    </div>
    <div class="panel-body">
        <form>
            <!-- Page Content -->
            <span data-toggle="modal" data-target="#added">                    
<button type="submit"  class='btn btn-default btn-success btn-lg' ng-click="addchair(shopdetailview.shopinfo[0])">Add Chairs</button></span>
            <input type="hidden" ng-model="user.id" value="{{shopdetailview.shopinfo[0]._id}}" placeholder="{{shopdetailview.shopinfo[0]._id}}">
            <input type="hidden" ng-model="user.user_id" value="{{shopdetailview._id}}" placeholder="{{shopdetailview._id}}">
        </form>
        <span><br>
<table class="table"><br>
    <thead>
        <tr >
            <th style="font-size: 20px;color: #ffffff;"><a ng-click="Sort('name')" class="name"  style="color: #ffffff;">NAME<span class="glyphicon glyphicon-sort" style="margin-left: 10px; font-size: 12px; "></span></a>
        </th>
        <th style="font-size: 20px;"><a ng-click="Sort('availability')" class="availability" style="color: #ffffff;">AVAILABILITY<span class="glyphicon glyphicon-sort" style="margin-left: 10px; font-size: 12px; "></span></a></th>
        <th style="font-size: 20px;"><a ng-click="Sort('type')" class="type" style="color: #ffffff;">TYPE <span class="glyphicon glyphicon-sort" style="margin-left: 10px; font-size: 12px; "></span></a></th>
        <th style="font-size: 20px;"><a ng-click="Sort('amount')" class="amount" style="color: #ffffff;">AMOUNT <span class="glyphicon glyphicon-sort" style="margin-left: 10px; font-size: 12px; "></span></a></th>
        <th style="font-size: 20px;">ACTION</th>
        </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="chairs in chairdetails  | filter:query | orderBy:sort:reverse | limitTo:quantity " data-ng-class="{danger:!chairs.active}" ng-show="chairs.isActive==true">
                <td>
                    <a data-toggle="tooltip" title="View, edit chairs detailed info" ui-sref="editchair({id:chairs._id})">{{chairs.name}} </a>
                </td>
                <td>
                    <span data-ng-hide="editMode">{{chairs.availability}}</span>
                </td>
                <td>
                    <span data-ng-hide="editMode">{{chairs.type}} </span>
                </td>
                <td>
                    <span data-ng-hide="editMode" data-toggle="modal" data-target="#chairs">{{chairs.amount}} </span>
                </td>
                <td>
                    <span data-toggle="modal" data-target="#confirm">
             <a type="submit" ng-click="deleteconfirmchair(chairs,shopdetailview.shopinfo[0]._id)" data-ng-hide="editMode" class="glyphicon glyphicon-trash" style="font-size: 20px;margin-left: 20px;color: #9e0e0b;" data-toggle="tooltip" title="DELETE RECORD"></a></span>
                </td>
            </tr>
        </tbody>
        </table>
    </div>
    </span>
    <!-- Modal -->
    <div class="modal " id="added" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="background-color: #c2f7b5;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Adedd</h4>
                </div>
                <div class="modal-body">
                    <p> Chair is Added successfully</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onClick="history.go(0)">OK</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal " id="myAnotherModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="background-color: #d6110c;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Deleted</h4>
                </div>
                <div class="modal-body">
                    <p>Record Deleted successfully</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ui-sref="shops">OK</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="confirm" role="dialog" data-ng-repeat="chairs in chairdetails" ng-show="$first">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <p>
                        Are You Sure!!!!!! You want to Delete this Record
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="deletechair(chairs,shopdetailview.shopinfo[0]._id)" data-toggle="modal" data-target="#myAnotherModal">DELETE</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">CANCEL</button>
                </div>
            </div>
        </div>
    </div>
    <!-- RAHUL CODE -->
</div>
</div>
