<div ng-if="loaderStart" loader-css="line-scale-pulse-out" class="loader"></div>
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a ui-sref="dashboard">Home</a></li>
    <li class="breadcrumb-item active">Customers</li>
</ol>
<div class="panel" ng-init="custpageChanged()">
    <div class="panel-heading">
        All Customers
    </div>
    <div class="panel-body">
        <!-- RAHUL  CODE -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6" style="margin-left: 300px;">
                    </div>
                    <div>
                        <span class="glyphicon glyphicon-search" style="color:purple"></span>
                        <input ng-model="myobj.search" placeholder="Search for..." ng-change="custpageChanged()" />
                    </div>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th style="font-size: 15px;" width="20%"><a ng-click="Sort('first_name')" class="first_name" style="color: #ffffff;">Name<span class="glyphicon glyphicon-sort" style="margin-left: 10px; font-size: 12px;"></span></a></th>
                            <th style="font-size: 15px;" width="25%"><a ng-click="Sort('email')" class="email" style="color: #ffffff;">Email<span class="glyphicon glyphicon-sort" style="margin-left: 10px; font-size: 12px; "></span></a></th>
                            <th style="font-size: 15px;" width="15%"><a ng-click="Sort('mobile_number')" class="mobile_number" style="color: #ffffff;">Mobile <span class="glyphicon glyphicon-sort" style="margin-left: 10px; font-size: 12px; "></span></a></th>
                            <th style="font-size: 15px;" width="15%"><a ng-click="Sort('mobile_number')" class="mobile_number" style="color: #ffffff;">Created Date <span class="glyphicon glyphicon-sort" style="margin-left: 10px; font-size: 12px; "></span></a></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="customer in customers | orderBy:sort:reverse | limitTo:quantity" data-ng-class="{danger:!customer.active}">
                            <td><a data-toggle="tooltip" title="View {{customer.first_name}}'s detailed info" ui-sref="customer_detail({id:customer._id})">
            {{customer.first_name}} {{customer.last_name}} </a>
                            </td>
                            <td>
                                {{customer.email}}
                            </td>
                            <td>
                                {{customer.mobile_number}}
                            </td>
                            <td>
                                {{customer.created_date | date : dd/mm/yyyy}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <div class="col-sm-6">
                    <ul uib-pagination total-items="myobj.totalItems" ng-model="myobj.currentPage" ng-change="custpageChanged()"></ul>
                </div>
                <br>
                <!-- <label>No. of Enteries</label>
            <select ng-model="quantity">
              <option value="">All</option>
              <option value="1">1</option>
              <option value="3">3</option>
              <option value="5">5</option>
              <option value="7">7</option>
              <option value="10">10</option>
            </select> -->
            </div>
            <!-- Modal -->
        </div>
    </div>
</div>
