<div ng-if="loaderStart" loader-css="line-scale-pulse-out" class="loader"></div>
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a ui-sref="dashboard">Home</a></li>
    <li class="breadcrumb-item"><a ui-sref="refer">Refers</a></li>
    <li class="breadcrumb-item active">Detail</li>
</ol>
<div class="panel" ng-init="particularUserData()">
    <div class="panel-heading">
        {{referInfo[0].referral.first_name}} {{referInfo[0].referral.last_name}}
        <button style="float:right;color:black" data-toggle="modal" data-target="#myModal">Sent Mail</button>
    </div>
    <div class="panel-body">
        <!-- RAHUL  CODE -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6" style="margin-left: 300px;">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 form-group">
                     <label>Invite As</label><br>
                    <select name="singleSelect" id="singleSelect" ng-model="data.usertype" style="width:70%" ng-change="particularUserData()">
                      <option value="">---Please select---</option> 
                      <option value="customer">Customer</option> 
                      <option value="barber">Barber</option>
                    </select>
                    </div>
                    <div class="col-sm-3 form-group">
                      <label>Successful login </label>
                    <select name="singleSelect" id="singleSelect" ng-model="data.login" style="width:70%" ng-change="particularUserData()">
                          <option value="">---Please select---</option> 
                          <option value="true">true</option> 
                          <option value="false">false</option>
                    </select>
                    </div>
                </div>
                
                <table class="table">
                    <thead>
                        <tr>
                            <th style="font-size: 13px;">Invite As</th>
                            <th style="font-size: 13px;">Email</th>
                            <th style="font-size: 13px;">Contact No.</th>
                            <th style="font-size: 13px;">Completed his first request?.</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="barber in referInfo| orderBy:sort:reverse " data-ng-class="{danger:!barber.active}">
                            <td>
                                {{barber.invite_as}}
                            </td>
                            <td>{{barber.referee_email}} </td>
                            <td>{{barber.referee_phone_number}}</td>
                            <td>
                                <!-- {{barber.is_refer_code_used}} -->
                                <span ng-hide="barber.is_refer_code_used!=true">
              <i class="fa fa-circle" style="font-size: 20px;color:green;" aria-hidden="true"></i></span>
                                <span ng-show="barber.is_refer_code_used==false">
              <i class="fa fa-circle" aria-hidden="true" style="font-size: 20px;color:red;"></i> </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">
            to:{{referInfo[0].referral.email}}
          </h4>
        </div>
        <div class="modal-body">
          <textarea class="form-control" ng-model="mailContent" rows="5" id="comment" placeholder="Mail content"></textarea>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="sentGiftCard()">Sent</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>