<div ng-if="loaderStart" loader-css="line-scale-pulse-out" class="loader"></div>
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a ui-sref="dashboard">Home</a></li>
    <li class="breadcrumb-item active">Refers</li>
</ol>
<div class="panel" ng-init="pageChanged()">
    <div class="panel-heading">
        All Users
    </div>
    <div class="panel-body">
        <!-- RAHUL  CODE -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6" style="margin-left: 300px;">
                    </div>
                    <div>
                        <span class="glyphicon glyphicon-search" style="color:purple"></span>
                        <input ng-model="myobj.search" placeholder="Search for..." ng-change="pageChanged()" />
                    </div>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th style="font-size: 13px;"><a ng-click="Sort('first_name')" class="first_name" style="color: #ffffff;">Name<span class="glyphicon glyphicon-sort" style="margin-left: 10px; font-size: 12px;"></span></a></th>
                            <th style="font-size: 13px;">Total Refer Users Count</th>
                            <th style="font-size: 13px;">Successfully Register User Count</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="barber in barbers| orderBy:sort:reverse " data-ng-class="{danger:!barber.active}">
                            <td>
                                <a data-toggle="tooltip" title="View Details" ui-sref="refer_detail({_id:barber._id})">{{barber.first_name}} {{barber.last_name}}</a>
                            </td>
                            <td>{{barber.count}}
                            <td>{{barber.subscribe_users}}
                        </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <div class="col-sm-6">
                    <ul uib-pagination total-items="myobj.totalItems" ng-model="myobj.currentPage" ng-change="pageChanged()"></ul>
                </div>
                <br>
            </div>
            <!-- Modal -->
        </div>
    </div>
</div>