<div ng-if="loaderStart" loader-css="line-scale-pulse-out" class="loader"></div>
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a ui-sref="dashboard">Home</a></li>
    <li class="breadcrumb-item active">Shops</li>
</ol>
<div class="panel" ng-init="shoppageChanged()">
    <div class="panel-heading">
        All Shops
    </div>
    <div class="panel-body">
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6" style="margin-left: 300px;">
                    </div>
                    <div>
                        <span class="glyphicon glyphicon-search" style="color:purple"></span>
                        <input ng-model="myobj.search" placeholder="Search for..." ng-change="shoppageChanged()" />
                    </div>
                </div>
                <table id="example1" class="table table-bordered table-striped" ng-table="tableParams" show-filter="isFiltersVisible"> 
                     <tr ng-repeat = "user in $data track by $index">
                        <td data-title="'Shop Name'" sortable="'first_name'" filter="{name:'text'}">
                             <a data-toggle="tooltip" title="Edit Shop" ui-sref="edit_shops({_id:user._id})">
                            {{user.name}}</a></td>
                        <td data-title="'Address'" sortable="'first_name'" filter="{name:'text'}">
                           {{user.address}}
                        </td>
                        <td data-title="'Formatted Address'" sortable="'formatted_address'" filter="{name:'text'}">{{user.formatted_address}}</td>
                        <td data-title="'City'" sortable="'first_name'" filter="{name:'text'}">{{user.city}}</td>
                        <td data-title="'State'" sortable="'first_name'" filter="{name:'text'}">{{user.state}}</td>
                        <td data-title="'Zip'" sortable="'first_name'" filter="{name:'text'}">{{user.zip}}</td>
                        <td data-title="'Created Date'" sortable="'first_name'" filter="{name:'text'}">{{user.created_date| date:dd/mm/yyyy}}</td>
                     </tr>
                </table>
                <!-- <table class="table">
                    <thead>
                        <tr>
                            <th style="font-size: 13px;color: #ffffff;"><a ng-click="Sort('shopinfo[0].name')" class="name" style="color: #ffffff;">Shopname<span class="glyphicon glyphicon-sort" style="margin-left: 10px; font-size: 12px; "></span></a></th>
                            <th style="font-size: 13px;color: #ffffff;"><a ng-click="Sort('first_name')" class="first_name" style="color: #ffffff;">Shop Owner<span class="glyphicon glyphicon-sort" style="margin-left: 10px; font-size: 12px; "></span></a></th>
                            <th style="font-size: 13px;"><a ng-click="Sort('shopinfo[0].state')" class="location" style="color: #ffffff;">Location<span class="glyphicon glyphicon-sort" style="margin-left: 10px; font-size: 12px; "></span></a></th>
                            <th style="font-size: 13px;" width="20%"><a ng-click="Sort('email')" class="email" style="color: #ffffff;">Email  <span class="glyphicon glyphicon-sort" style="margin-left: 10px; font-size: 12px; "></span></a></th>
                            <th style="font-size: 13px;"><a ng-click="Sort('created_date')" class="created_date" style="color: #ffffff;">Created Date  <span class="glyphicon glyphicon-sort" style="margin-left: 10px; font-size: 12px; "></span></a></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="shop in shops | orderBy:sort:reverse ">
                            <td>{{shop.shopinfo[0].name}}</td>
                            <td><a data-toggle="tooltip" title="View {{shop.shopinfo[0].name}}'s detailed info" ui-sref="shopdetail({id:shop.shopinfo[0].user_id})">{{shop.first_name}} {{shop.last_name}}</a></td>
                            <td>{{shop.shopinfo[0].state}} </td>
                            <td>{{shop.email}}</td>
                            <td>{{shop.created_date| date:dd/mm/yyyy}}</td>
                        </tr>
                    </tbody>
                </table> -->
            </div>
            <!-- Modal -->
            <!-- RAHUL CODE -->
        </div>
    </div>
</div>