<div ng-if="loaderStart" loader-css="line-scale-pulse-out" class="loader"></div>
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a ui-sref="dashboard">Home</a></li>
    <li class="breadcrumb-item active">Shops</li>
</ol>
<div class="panel" ng-init="shoppageChanged()">
    <div class="panel-heading">
        All Shops
    </div>
    <div class="panel-body">
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6" style="margin-left: 300px;">
                    </div>
                    <div>
                        <span class="glyphicon glyphicon-search" style="color:purple"></span>
                        <input ng-model="myobj.search" placeholder="Search for..." ng-change="shoppageChanged()" />
                    </div>
                </div>
                <table id="example1" class="table table-bordered table-striped" ng-table="tableParams" show-filter="isFiltersVisible"> 
                     <tr ng-repeat = "user in $data track by $index">
                        <td data-title="'Shop Name'" sortable="'name'" filter="{name:'text'}">
                             <a data-toggle="tooltip" title="Edit Shop" ui-sref="edit_shops({_id:user._id})">
                            {{user.name}}</a></td>
                        <td data-title="'Address'" sortable="'address'" filter="{name:'text'}">
                           {{user.address}}
                        </td>
                        <!-- <td data-title="'Formatted Address'" sortable="'formatted_address'" filter="{name:'text'}">{{user.formatted_address}}</td> -->
                        <td data-title="'City'" sortable="'city'" filter="{name:'text'}">{{user.city}}</td>
                        <td data-title="'State'" sortable="'state'" filter="{name:'text'}">{{user.state}}</td>
                        <td data-title="'Zip'">{{user.zip}}</td>
                        <td data-title="'License'">{{user.license_number}}</td>
                        <td data-title="'Created Date'" sortable="'created_date'" filter="{name:'text'}">{{user.created_date| date:dd/mm/yyyy}}</td>
                        <td data-title="'Delete'">
                            <button type="button" ng-click="deleteShopScope(user._id)" class="fa fa-trash-o" data-toggle="modal" data-target="#shopDelete"></button>
                        </td>
                     </tr>
                </table>
            </div> 
        </div>
    </div>
</div>

<div class="modal fade" id="shopDelete" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
          <p>Are You Sure!!!!!! You want to Delete.</p>
        </div>
        <div class="modal-footer">
          <button type="button" ng-click="deleteShop()" class="btn btn-default" data-dismiss="modal">Delete</button>
        </div>
      </div>
      
    </div>
  </div>