<div ng-if="loaderStart" loader-css="line-scale-pulse-out" class="loader"></div>
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a ui-sref="dashboard">Home</a></li>
    <li class="breadcrumb-item"><a ui-sref="shops">Shops</a></li>
    <li class="breadcrumb-item active">Edit Shop</li>
</ol>
<div class="panel" ng-init="shopdetail()">
    <div class="panel-heading">
        Edit Shops
    </div>
    <div class="panel-body">
    <div ng-if="messages" role="alert" class="alert alert-danger">
            <div>
                {{messages}}</div>
        </div>
        <div class="title">
            Shop Owner Information
        </div>
        <form name="editForm">
            <div class="clearfix">
                <div class="col-sm-4 form-group">
                    <label>First Name</label>
                    <input type="text" class="form-control" name="first_name" data-ng-model="shopdetailview.first_name" ng-pattern="/^[a-z ,.'-]+$/i" ng-minlength="3" ng-maxlength="20" maxlength="21" required />
                    <span style="color:red;" ng-show="editForm.first_name.$error.required">First Name cannot left blank</span>
                    <span style="color:red;" ng-show="editForm.first_name.$error.pattern">Enter Valid Character</span><br>
                    <span style="color:red " ng-show="editForm.first_name.$error.maxlength && editForm.first_name.$dirty">First name maximum length exceeds</span>
                </div>
                <div class="col-sm-4 form-group">
                    <label>Last Name</label>
                    <input type="text" class="form-control" name="last_name" data-ng-model="shopdetailview.last_name" ng-pattern="/^[a-z ,.'-]+$/i" ng-minlength="3" ng-maxlength="20" maxlength="21" required />
                    <span style="color:red;" ng-show="editForm.last_name.$error.required">Last Name cannot left blank</span>
                    <span style="color:red;" ng-show="editForm.last_name.$error.pattern">Enter Valid Character</span><br>
                    <span style="color:red " ng-show="editForm.last_name.$error.maxlength && editForm.last_name.$dirty">First name maximum length exceeds</span>
                </div>
                <div class="col-sm-4 form-group">
                    <label>Mobile Number</label>
                    <input type="text" class="form-control" name="mobile_number" data-ng-model="shopdetailview.mobile_number" mask="(999)999-9999" mask-clean='true' mask-restrict='reject' ng-minlength="14" ng-maxlength="14" maxlength="14" required />
                    <span style="color:red;" ng-show="editForm.mobile_number.$error.minlength">Phone have 10-digits minimum.</span>
                    <span style="color:red;" ng-show="editForm.mobile_number.$error.required">Mobile cannot left blank</span>
                </div>
            </div>
            <div class="clearfix">
                <div class="col-sm-3 form-group">
                    <label>Date Of Creation</label>
                    <input size="30" height="30px" type="text" data-ng-model="shopdetailview.created_date" readonly class="form-control">
                </div>
                <div class="col-sm-3 form-group">
                    <label>Email</label>
                    <input type="text" class="form-control" name="email" data-ng-model="shopdetailview.email" readonly />
                </div>
                <div class="col-sm-3 form-group">
                    <label> New Password</label>
                    <input type="password" class="form-control" name="password" data-ng-model="shopdetailview.pass" ng-minlength="5" ng-maxlength="20" maxlength="21" />
                    <div class="validationError" ng-if="!updateButton" ng-show="editForm.password.$error.minlength">
                        <span style="color:red ">password too Short (atleast 5 characters)</span>
                    </div>
                    <div class="validationError" ng-if="!updateButton" ng-show="editForm.password.$error.maxlength && editForm.password.$dirty">
                        <span style="color:red ">password maximum length exceeds</span>
                    </div>
                </div>
                <div class="col-sm-3 form-group">
                    <label>Confirm Password</label>
                    <input type="password" class="form-control" name="confirmPassword" id="confirmPassword" ng-model="shopdetailview.confirmPassword" required ng-pattern="password" />
                    <div class="validationError" ng-messages="editForm.confirmPassword.$error" ng-show=" editForm.confirmPassword.$error.pattern && (!editForm.confirmPassword.$pristine || editForm.$submitted)" role="alert ">
                        <span style="color:red " ng-if="!updateButton" ng-message="pattern">password do not match</span>
                    </div>
                </div>
            </div>
            <div class="clearfix">
                <div class="col-sm-3 form-group">
                    <label>Is Active</label>
                    <br>
                    <input type="radio" ng-model="activeSelected" name="active" value="true" ng-checked="shopdetailview.is_active==true">YES&nbsp;&nbsp;&nbsp;
                    <input type="radio" name="active" value="false" ng-model="activeSelected" ng-checked="shopdetailview.is_active == false">NO
                </div>
                <div class="col-sm-3 form-group">
                    <label>Is Verified</label>
                    <br>
                    <input type="radio" ng-model="verifySelected" name="verify" value="true" ng-checked="shopdetailview.is_verified==true">YES&nbsp;&nbsp;&nbsp;
                    <input type="radio" name="verify" ng-model="verifySelected" value="false" ng-checked="shopdetailview.is_verified == false">NO
                </div>
                <div class="col-sm-3 form-group">
                    <label>Is Deleted</label>
                    <br>
                    <input type="radio" ng-model="deleteSelected" name="delete" value="true" ng-checked="shopdetailview.is_deleted==true">YES&nbsp;&nbsp;&nbsp;
                    <input type="radio" name="delete" value="false" ng-model="deleteSelected" ng-checked="shopdetailview.is_deleted == false">NO
                </div>
            </div>
    </div>
    
    <div class="clearfix text-center">
        <button type="submit" class="btn btn-primary" ng-click="updateshopowner(shopdetailview)" ui-sref="shopdetail({id:shopdetailview._id})">
            <i class="fa fa-check" aria-hidden="true"></i> Save
        </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="reset" class="btn btn-grey" ui-sref="shopdetail">
            <i class="fa fa-times" aria-hidden="true"></i>
            <span>Cancel</span>
        </button>
    </div>
    </form>
    <br>
    <br>
    <div class="panel-body">
        <div class="title">
            Shop Information
        </div>
        <form name="editForm">
            <div class="clearfix">
                <div class="col-sm-4 form-group">
                    <label>Shop Name</label>
                    <input type="text" class="form-control" name="name" data-ng-model="shopdetailview.shopinfo[0].name" required />
                    <span style="color:red;" ng-show="editForm.name.$error.required"> Name cannot left blank</span>
                </div>
                <div class="col-sm-4 form-group">
                    <label>Date Of Creation</label>
                    <input size="30" height="30px" type="text" data-ng-model="shopdetailview.shopinfo[0].created_date" readonly class="form-control">
                </div>
            </div>
            <div class="clearfix">
                <div class="col-sm-3 form-group">
                    <label>Address</label>
                    <input type="text" class="form-control" name="address" data-ng-model="shopdetailview.shopinfo[0].address" />
                </div>
                <div class="col-sm-3 form-group">
                    <label> City</label>
                    <input type="text" class="form-control" name="city" data-ng-model="shopdetailview.shopinfo[0].city" />
                </div>
                <div class="col-sm-3 form-group">
                    <label>State</label>
                    <input type="text" class="form-control" name="city" data-ng-model="shopdetailview.shopinfo[0].state" />
                </div>
                <div class="col-sm-3 form-group">
                    <label>Zip</label>
                    <input type="text" class="form-control" name="city" data-ng-model="shopdetailview.shopinfo[0].zip">
                </div>
            </div>
            <div class="clearfix text-center">
                <button type="submit" class="btn btn-primary" ng-click="updateshop(shopdetailview.shopinfo[0])" ui-sref="shopdetail({id:shopdetailview._id})">
                    <i class="fa fa-check" aria-hidden="true"></i> Save
                </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="reset" class="btn btn-grey" ui-sref="shopdetail">
                    <i class="fa fa-times" aria-hidden="true"></i>
                    <span>Cancel</span>
                </button>
            </div>
    </div>
    </form>
</div>
</div>
<script type="text/javascript">
window.addEventListener('keydown', function(e) {
    if (e.keyIdentifier == 'U+000A' || e.keyIdentifier == 'Enter' || e.keyCode == 13) {
        if (e.target.nodeName == 'INPUT' && e.target.type == 'text') {
            e.preventDefault();
            return false;
        }
    }
}, true);
</script>
