<style type="text/css">
    .angular-google-map-container {
        height: 990px;
        width: 990px;
    }
</style>
<div class="crumb"> 
    <!--    <span>Book Appointment</span> -->
</div>
<div class="wrapper">
    <div class="block">
        <h2>Your Customer</h2>
        <div class="selected_barber">
            <div class="selected_user"> <img src="{{imgPath + particularAppointment.customer_id}}" alt="" > </div>
            <div class="namertng">
                
                <h3>{{particularAppointment.customer_name}}</h3>
                <div class="rtng">
                    <input-stars max="5" ng-model="ratingCus" ng-attr-readonly="true">
                        
                    </input-stars>
                </div>
            </div>
            <div class="locdis">
                <p><span>Last Cut :</span>{{particularAppointment.customer_id.ratings[0].appointment_date | date:medium}}</p>
            </div>
        </div>
    </div>
    <div class="block higlght">
        <h2>Appointment Booked</h2>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <p><i class="fa fa-calendar"> </i>{{particularAppointment.appointment_date| date:medium}}</p>
            </div>
            <!-- <div class="col-md-4 col-sm-6">
              <p><i class="fa  fa-clock-o"> </i> 9:00 AM</p>
            </div> -->
            <!-- <div class="col-md-4"> <a href="#" class="cmbtn">Add to Calendar</a> </div> -->
        </div>
    </div>
    <div class="block higlght">
        <h2>Barber Shop Address</h2>
        <div class="row">
            <div class="col-md-8 col-sm-8">
                <p><i class="fa  fa-map-marker"> </i> {{particularAppointment.shop_id.name}} {{particularAppointment.shop_id.address}} {{particularAppointment.shop_id.city}} {{particularAppointment.shop_id.state}}</p>
            </div>
            <div class="col-md-4 col-sm-4"> 
                <input type="checkbox" ng-model="checked" aria-label="Toggle ngShow">
                <a href="#" class="cmbtn"> View on Map</a></div>
        </div>
    </div>
    
    <div class="block">
        <h2>Summary of Services</h2>
        <div class="row">
            <div class="stsr">
                <div class="col-md-6" ng-repeat = "serv in particularAppointment.services"> <a href="#" class="select">{{serv.name}} <span>${{serv.price}}</span></a> </div>
            </div>
        </div>
        <div class="totl" >
            <p>Total Due : <span>${{totoalPrice}}</span></p>
        </div>
    </div>
    <div class="perform_action">
        <div class="row">
            <div class="col-md-6">
                <button class="subtn blue" ng-click="payNow()"><i class="fa fa-usd"></i> Pay Now</button>
            </div>
            <div class="col-md-6">
                <button class="subtn" data-toggle="modal" data-target="#contactbarber" ><i class="fa fa-commenting-o"></i> Contact barber</button>
            </div>
        </div>
    </div>
    <div ng-if="checked">
        <h2></h2>
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <p><i class=""> </i>
                <ui-gmap-google-map center='map.center' zoom='map.zoom' aria-label="Google map">
                    <ui-gmap-marker ng-repeat="marker in markers" coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
                        <ui-gmap-window>
                            <div>{{marker.window.title}}</div>
                        </ui-gmap-window>
                    </ui-gmap-marker>
                </ui-gmap-google-map>
                </p>
            </div>
            <div class="col-md-6 col-sm-6">
                <p><i class=""></i></p>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="contactbarber" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Contact Barber</h4>
            </div>
            <div class="modal-body">
                <div class="contact-us  pz foremail ">
                    <div class="form-group" >
                        <textarea class="form-control" required /></textarea>
                        <div class="form-control-placeholder">Enter Message here</div>
                    </div>
                    <button class="adds_Btn "> Send </button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>