<div class="sidebar">
  <ul>
    <li><a ui-sref-active="active" ui-sref="barbershopdashboard"><i class="fa fa-align-left"></i> Dashboard</a></li>
    <li><a ui-sref-active="active" ui-sref="financialcenter"  ><i class="fa  fa-dollar"></i> Financial Center</a></li>
    <li><a ui-sref-active="active" ui-sref="barbershop_manage_request"><i class="fa fa-user-plus"></i> Manage Requests</a></li>
    <li><a href="#"><i class="fa fa-calendar"></i> View Daily Calender</a></li>
    <li><a ui-sref-active="active" ui-sref="contactbarbrDO" href="#" ><i class="fa  fa-envelope"></i> Contact BarbrDo Office</a></li>
  </ul>
</div>
