
<div class="crumb"> <span>Book Appointment</span> </div>
<div class="wrapper">
  
  <div class="block">
    <h2>Manage Chair</h2>
    <div class="col-md-4 col-sm-4 col-xs-6 fullb">
      <div class="barber toshop">
        <div class="cont">
          <div class="user_pic"> <img src="images/chair@4x.png" alt="" ></div>
          <h3>Chair 1</h3>
          <p><span>Chair Split</span> : 50/50</p>
       
        </div>
        <a ui-sref="chairaction" class="book_nw" > Manage <i class="fa  fa-angle-right"></i> </a>
     </div>
    </div>
      
      
    <div class="col-md-4 col-sm-4 col-xs-6 fullb">
      <div class="barber toshop">
        <div class="cont">
          <div class="user_pic"> <img src="images/chair@4x.png" alt="" ></div>
          <h3>Chair 2</h3>
          
            <p><span>Edward Scissorhands</span></p>
            <p><span>Chair Split</span> :60/40</p>
       
        </div>
        <a ui-sref="chairaction" class="book_nw" > Manage <i class="fa  fa-angle-right"></i> </a>
     </div>
    </div>
      
      
      
      <div class="col-md-4 col-sm-4 col-xs-6 fullb">
      <div class="barber toshop">
        <div class="cont">
          <div class="user_pic"> <img src="images/chair@4x.png" alt="" ></div>
          <h3>Chair 3</h3>
          <p><span>Edward Scissorhands</span></p>
       
        </div>
        <a  class="book_nw" ui-sref="chairaction"  > Manage <i class="fa  fa-angle-right"></i> </a>
     </div>
    </div>
      
      
      
      <div class="col-md-4 col-sm-4 col-xs-6 fullb">
      <div class="barber toshop">
        <div class="cont">
          <div class="user_pic"> <img src="images/chair@4x.png" alt="" ></div>
          <h3>Chair 4</h3>
          <p><span>Chair Split</span> : 50/50</p>
       
        </div>
        <a ui-sref="chairaction" class="book_nw" > Manage <i class="fa  fa-angle-right"></i> </a>
     </div>
    </div>
      
      
      <div class="col-md-4 col-sm-4 col-xs-6 fullb">
      <div class="barber toshop">
        <div class="cont">
          <div class="user_pic"> <img src="images/chair@4x.png" alt="" ></div>
          <h3>Chair 5</h3>
          <p><span>Chair Split</span> : 50/50</p>
       
        </div>
        <a  class="book_nw" ui-sref="chairaction" > Manage <i class="fa  fa-angle-right"></i> </a>
     </div>
    </div>
      
      
      <div class="col-md-4 col-sm-4 col-xs-6 fullb">
      <div class="barber toshop">
        <div class="cont">
          <div class="user_pic"> <img src="images/chair@4x.png" alt="" ></div>
          <h3>Chair 6</h3>
          <p><span>Chair Split</span> : 50/50</p>
       
        </div>
        <a  class="book_nw" ui-sref="chairaction" > Manage <i class="fa  fa-angle-right"></i> </a>
     </div>
    </div>
   
      
  </div>
</div>
