
<div class="crumb"> <span>Book Appointment</span> </div>
<div class="wrapper">
  <div class="block">
    <div class="tabs customtab">
      <uib-tabset active="activeJustified" justified="true">
        <uib-tab index="0" heading="Pending Request">
          <div class="all_cuts">
            <div class="table-responsive">
              <table class="table table-bordered">
                <tr>
                  <th>Picture</th>
                  <th>Name</th>
                  <th>When</th>
                  <th>Where</th>
                  <th class="action">Action</th>
                </tr>
                <tr>
                  <td> <span class="lspic"> <img src="images/brbr_pic.png" alt=""> </span> </td>
                  <td>Jain Smith</td>
                  <td>March 11 @10 AM</td>
                  <td>Pop's Barber Shop</td>
                  <td class="ac_btn"> <a ui-sref="appointmentDetail" class=""  tooltip-placement="top" uib-tooltip="View Detail" > <i class="fa fa-eye"></i> </a> 
                      
                      
                      <a href="#" class="" tooltip-placement="top" uib-tooltip="Confirmed" > <i class="fa fa-check "></i> </a> <a href="#" class="" tooltip-placement="top" uib-tooltip="Reschedule" > <i class="fa fa-repeat "></i> </a> </td>
                </tr>
                <tr>
                  <td> <span class="lspic"> <img src="images/brbr_pic.png" alt=""> </span> </td>
                  <td>Jain Smith</td>
                  <td>March 11 @10 AM</td>
                  <td>Pop's Barber Shop</td>
                  <td class="ac_btn"> <a ui-sref="appointmentDetail" class=""  tooltip-placement="top" uib-tooltip="View Detail" > <i class="fa fa-eye"></i> </a> <a href="#" class="" tooltip-placement="top" uib-tooltip="Confirmed" > <i class="fa fa-check "></i> </a> <a href="#" class="" tooltip-placement="top" uib-tooltip="Reschedule" > <i class="fa fa-repeat "></i> </a> </td>
                </tr>
                <tr>
                  <td> <span class="lspic"> <img src="images/brbr_pic.png" alt=""> </span> </td>
                  <td>Jain Smith</td>
                  <td>March 11 @10 AM</td>
                  <td>Pop's Barber Shop</td>
                  <td class="ac_btn"> <a  ui-sref="appointmentDetail" class=""  tooltip-placement="top" uib-tooltip="View Detail" > <i class="fa fa-eye"></i> </a> <a href="#" class="" tooltip-placement="top" uib-tooltip="Confirmed" > <i class="fa fa-check "></i> </a> <a href="#" class="" tooltip-placement="top" uib-tooltip="Reschedule" > <i class="fa fa-repeat "></i> </a> </td>
                </tr>
              </table>
            </div>
          </div>
        </uib-tab>
        <uib-tab index="1" heading="Confirmed">
          <div class="all_cuts">
            <div class="table-responsive">
              <table class="table table-bordered">
                <tr>
                  <th>Picture</th>
                  <th>Name</th>
                  <th>When</th>
                  <th>Where</th>
                  <th class="action">Action</th>
                </tr>
                <tr>
                  <td> <span class="lspic"> <img src="images/brbr_pic.png" alt=""> </span> </td>
                  <td>Jain Smith</td>
                  <td>March 11 @10 AM</td>
                  <td>Pop's Barber Shop</td>
                  <td class="ac_btn"> <a href="#" class="" tooltip-placement="top" uib-tooltip="Mark as Complete" > <i class="fa fa-check-square-o "></i> </a> </td>
                </tr>
                <tr>
                  <td> <span class="lspic"> <img src="images/brbr_pic.png" alt=""> </span> </td>
                  <td>Jain Smith</td>
                  <td>March 11 @10 AM</td>
                  <td>Pop's Barber Shop</td>
                  <td class="ac_btn"> <a href="#" class="" tooltip-placement="top" uib-tooltip="Mark as Complete" > <i class="fa fa-check-square-o "></i> </a> </td>
                </tr>
              </table>
            </div>
          </div>
        </uib-tab>
      </uib-tabset>
    </div>
  </div>
</div>
