
<div class="crumb"> <span>Book Appointment</span> </div>
<div class="wrapper" ng-init="chairrequest()">
  
    <div class="block">
    
    <h2>Barber Chair Request</h2>
        
       <div class="all_cuts">
    <div class="table-responsive">
      <table class="table table-bordered">
        <tr>
          <th>Picture</th>
          <th>Chair</th>
          <th>Requestor</th>
          <th>Chair Split</th>
          <th class="action">Action</th>
        </tr>
        <tr ng-repeat="chairreq in requests"  >
          <td> <span class="lspic"> <img src="images/brbr_pic.png" alt=""> </span> </td>
          <td>{{chairreq.shopChairInfo.chairs.name}} </td>
          <td>{{chairreq.barberInfo[0].first_name}}&nbsp;{{chairreq.barberInfo[0].last_name}}</td>
          <td>{{chairreq.shopChairInfo.chairs.shop_percentage}}/{{chairreq.shopChairInfo.chairs.barber_percentage}}</td>
          <td class="ac_btn">
              
              <a > <i class="fa fa-eye"></i> </a>
              
              <a href="" ng-click="acceptrequest(chairreq)" data-toggle="tooltip" title="Accept Request"> <i class="fa fa-check "></i> </a> 
              
              <a href="" ng-click="rejectrequest(chairreq)" data-toggle="tooltip" title="Decline Request"> <i class="fa fa-close"></i> </a>
        </td>
        </tr>
        
      </table>
    </div>
  </div> 
    
    </div>
    
    
  
    
</div>
