<div ng-if="loaderStart" loader-css="line-scale-pulse-out" class="loader"></div>
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a ui-sref="barbershopdashboard">Shop Home</a></li>
    <li class="breadcrumb-item active">Manage Requests</li>
</ol>
<div class="wrapper" ng-init="chairrequest()">
    <div class="block">
        <h2>Barber Chair Request</h2>
        <span ng-if="requests == ''"> <h3 align="center"><br><br> No Requests from barber </h3> </span>
        <div ng-if="requests != ''">
            <div class="all_cuts">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tr>
                            <th>Picture</th>
                            <th>Chair</th>
                            <th>Requestor</th>
                            <th>Chair Type </th>
                            <th>Chair Split/Amount</th>
                            <th class="action">Action</th>
                        </tr>
                        <tr ng-repeat="chairreq in requests" >
                            <td> <span class="lspic"> <img src="{{imgPath+chairreq.barberInfo[0].picture}}" alt=""> </span> </td>
                            <td>{{chairreq.shopChairInfo.chairs.name}} </td>
                            <td ><a href="" style="color: #959a26;" ui-sref="requester-details({id:chairreq.barberInfo[0]._id})">{{chairreq.barberInfo[0].first_name}}&nbsp;{{chairreq.barberInfo[0].last_name}}</a></td>
                            <td>{{chairreq.shopChairInfo.chairs.type}}
                            <td><span ng-show="chairreq.shopChairInfo.chairs.shop_percentage">{{chairreq.shopChairInfo.chairs.shop_percentage}}/{{chairreq.shopChairInfo.chairs.barber_percentage}}</span>
                                <span ng-show="chairreq.shopChairInfo.chairs.amount">{{chairreq.shopChairInfo.chairs.amount}}</span></td>
                            <td class="ac_btn" ng-if="chairreq.requested_by == 'shop'">
                                Pending
                                <!--<a href="" ng-click="rejectrequest(chairreq)" data-toggle="tooltip" title="Cancel Request" style="background-color: #fb3434;"> <i class="fa fa-close" ></i> </a>-->
                            </td>
                            <td class="ac_btn" ng-if="chairreq.requested_by == 'barber'">
                                <a href="" ng-click="acceptrequest(chairreq)" data-toggle="tooltip" title="Accept Request"> <i class="fa fa-check "></i> </a> 
                                <a href="" ng-click="rejectrequest(chairreq)" data-toggle="tooltip" title="Decline Request" style="background-color: #fb3434;"> <i class="fa fa-close" ></i> </a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div> 
        </div>
    </div>
</div>
