<div class="sidebar">
    <ul>
        <li><a ui-sref-active="active" ui-sref="barberDashboard"><i class="fa  fa-align-left"></i> Dashboard</a></li>
        <li><a ui-sref="barberGallery"><i class="fa  fa-camera-retro"></i> Gallery</a></li>
        <li><a href="#" ui-sref="barberfinance"><i class="fa  fa-dollar"></i> Financial Center</a></li>
        <li><a href="#"><i class="fa fa-calendar"></i> Manage Calender</a></li>
        <li><a ui-sref-active="active" ui-sref="searchchair"><i class="fa  fa-search"></i> Search for a chair</a></li>
        <li><a ui-sref-active="active" ui-sref="managerequest"><i class="fa fa-user-plus"></i> Manage Requests</a></li>
        <li><a ui-sref-active="active" ui-sref="manageservices"><i class="fa fa-gear"></i> Manage Services</a></li>
        <li><a ui-sref-active="active" ui-sref="sendinvitation"><i class="fa  fa-envelope"></i> Invite Customer</a></li>
        <li><a ui-sref-active="active" ui-sref="events"><i class="fa  fa-envelope"></i> Create Events</a></li>
        <li><a ui-sref-active="active" ui-sref="subScribe"><i class="fa  fa-envelope"></i> Subscribe</a></li>
    </ul>
</div>
