
<div class="crumb"> <span>Book Appointment</span> </div>
<div class="wrapper">
  
    <div class="block">
    
    <h2>Barber Chair Request</h2>
        
       <div class="all_cuts">
    <div class="table-responsive">
      <table class="table table-bordered">
        <tr>
          <th>Picture</th>
          <th>Chair</th>
          <th>Requestor</th>
          <th>Chair Split</th>
          <th class="action">Action</th>
        </tr>
        <tr>
          <td> <span class="lspic"> <img src="images/brbr_pic.png" alt=""> </span> </td>
          <td>Chair 1</td>
          <td>Edward Scissor hands</td>
          <td>40/60</td>
          <td class="ac_btn">
              
              <a ui-sref=""  tooltip-placement="top" uib-tooltip="View Detail" href="/appointmentdetail"> <i class="fa fa-eye"></i> </a>
              
              <a href="#" tooltip-placement="top" uib-tooltip="Accept" > <i class="fa fa-check "></i> </a> 
              
              <a href="#"  tooltip-placement="top" uib-tooltip="Reject" > <i class="fa fa-close "></i> </a>
        </td>
        </tr>
          <tr>
          <td> <span class="lspic"> <img src="images/brbr_pic.png" alt=""> </span> </td>
          <td>Chair 1</td>
          <td>Edward Scissor hands</td>
          <td>40/60</td>
          <td class="ac_btn">
              
              <a ui-sref=""  tooltip-placement="top" uib-tooltip="View Detail" href="/appointmentdetail"> <i class="fa fa-eye"></i> </a>
              
              <a href="#" tooltip-placement="top" uib-tooltip="Accept" > <i class="fa fa-check "></i> </a> 
              
              <a href="#"  tooltip-placement="top" uib-tooltip="Reject" > <i class="fa fa-close "></i> </a>
        </td>
        </tr>
          <tr>
          <td> <span class="lspic"> <img src="images/brbr_pic.png" alt=""> </span> </td>
          <td>Chair 1</td>
          <td>Edward Scissor hands</td>
          <td>40/60</td>
          <td class="ac_btn">
              
              <a ui-sref=""  tooltip-placement="top" uib-tooltip="View Detail" href="/appointmentdetail"> <i class="fa fa-eye"></i> </a>
              
              <a href="#" tooltip-placement="top" uib-tooltip="Accept" > <i class="fa fa-check "></i> </a> 
              
              <a href="#"  tooltip-placement="top" uib-tooltip="Reject" > <i class="fa fa-close "></i> </a>
        </td>
        </tr>
        
      </table>
    </div>
  </div> 
    
    </div>
    
    
  
    
</div>
