<div ng-if="loaderStart" loader-css="line-scale-pulse-out" class="loader"></div>
<ol class="breadcrumb">
    <li class="breadcrumb-item" active>Shop Home</li>
</ol>
<div class="wrapper" >
    <div class="block">
        <h2>All Chairs</h2>
        <div class="col-md-4 col-sm-4 col-xs-6 fullb" ng-repeat = "res in chairs.data[0].chairs" ng-show="res.isActive == true">
            <div class="barber toshop">
                <div class="cont">
                    <div class="user_pic">
                        <span ng-if="res.barber_id">
                            <span ng-if="res.barber[0].picture">
                                <a href="#"><img style="cursor: pointer;" data-toggle="tooltip" title="View Barber" ui-sref="requestorgallery({id:res.barber_id})" src="{{imgPath+res.barber[0].picture}}"></a>
                            </span>
                            <span ng-if="!res.barber[0].picture">
                                <a href="#"><img style="cursor: pointer;" data-toggle="tooltip" title="View Barber" ui-sref="requestorgallery({id:res.barber_id})" src="images/no-image-found.jpg"></a>
                            </span>
                            
                        </span> 
                        <span ng-if="!res.barber_id"><img src="images/chair@4x.png"  ng-click="nobarbers()"> </span>
                    </div>
                    <h3>Chair {{$index + 1}}</h3>
                    <p ng-if="res.type == 'percentage'"><span>Chair Split</span> : {{res.shop_percentage}}/{{res.barber_percentage}}</p>
                    <p ng-if="res.type == 'weekly' || res.type == 'monthly'"><span>{{res.type}}</span> : ${{res.amount}}</p>
                    <p ng-if="res.type != 'weekly' && res.type != 'monthly' && res.type != 'percentage'">Empty</p>
                    <span ng-if="res.barber_id">
                        <p ng-if="res.barber_id"><span>{{res.barber[0].first_name}} {{res.barber[0].last_name}}</span></p>
                    </span>
                    <span ng-if="!res.barber_id">
                        <p ng-if="res.availability">{{res.availability}}</p>
                    </span>
                    
                    
                </div>
                <span ng-if="res.barber_id"><a class="book_nw" ui-sref="chairwithbarber({id:res._id,name:$index+1})"> Manage <i class="fa  fa-angle-right"></i> </a></span>
                <span ng-if="!res.barber_id"><a class="book_nw" ui-sref="chairaction({id:res._id,name:$index+1})"> Manage <i class="fa  fa-angle-right"></i> </a></span>
            </div>
        </div>  
    </div>
</div>
