<div ng-if="loaderStart" loader-css="line-scale-pulse-out" class="loader"></div>
<div class="crumb"> <span>Book Appointment</span> </div>
<div class="wrapper">
  <div class="block">
    <div class="tabs customtab">
      <uib-tabset active="activeJustified" justified="true">
        <uib-tab index="0" heading="Pending Request">
          <div class="all_cuts">
            <div class="table-responsive">
              <table class="table table-bordered">
                <tr>
                  <th>Picture</th>
                  <th>Name</th>
                  <th>When</th>
                  <th>Where</th>
                  <th class="action">Action</th>
                </tr>
                <tr ng-repeat = "result in pendingComplete.pending">
                  <td> <span class="lspic"> <img src="images/brbr_pic.png" alt=""> </span> </td>
                  <td>{{result.customer_id.first_name}} {{result.customer_id.last_name}}</td>
                  <td>{{result.appointment_date | date:'medium'}}</td>
                  <td>{{result.shop_id.name}}</td>
                  <td class="ac_btn"> <a ui-sref="appointmentDetail({_id:result._id})" class=""  tooltip-placement="top" uib-tooltip="View Detail" > <i class="fa fa-eye"></i> </a> 
                      <a href="#" class="" tooltip-placement="top" uib-tooltip="Confirmed" > <i class="fa fa-check "></i> </a> <a href="#" class="" tooltip-placement="top" uib-tooltip="Reschedule" > <i class="fa fa-repeat "></i> </a> </td>
                </tr>
              </table>
            </div>
          </div>
        </uib-tab>
        <uib-tab index="1" heading="Confirmed">
          <div class="all_cuts">
            <div class="table-responsive">
              <table class="table table-bordered">
                <tr>
                  <th>Picture</th>
                  <th>Name</th>
                  <th>When</th>
                  <th>Where</th>
                  <th class="action">Action</th>
                </tr>
                <tr ng-repeat = "results in pendingComplete.booked">
                  <td> <span class="lspic"> <img src="images/brbr_pic.png" alt=""> </span> </td>
                  <td>{{results.customer_id.first_name}} {{results.customer_id.last_name}}</td>
                  <td>{{results.appointment_date | date:'medium'}}</td>
                  <td>{{results.shop_id.name}}</td>
                  <td class="ac_btn"> <a href="#" class="" tooltip-placement="top" uib-tooltip="Mark as Complete" > <i class="fa fa-check-square-o "></i> </a> </td>
                </tr>
              </table>
            </div>
          </div>
        </uib-tab>
      </uib-tabset>
    </div>
  </div>
</div>
