<main>
    <!--banner-->
    <div class="banner barber">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-7">
                    <div class="mrtop">
                        <h1>Rent Your Empty Chairs to Barbers</h1>
                        <a href="#" class="trybtn">Try BarbrDo for free</a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-5">
                    <div class="mobile">
                        <img src="images/splash.png" class="splash" alt="">
                        <div class="mobile-icon">
                            <a href="javascript:void(0)"><img src="images/ios.png" alt="" /></a>
                            <a href="javascript:void(0)"><img src="images/android.png" alt="" /></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--banner-->
    <div class="clearfix"></div>
    <!--slider-wrap-->
    <div class="slider-wrap">
        <div class="container">
            <div class="row">
                <div class="col-sm-5">
                    <div class="slider-box">
                        <slick autoplay="true" slides-to-show=1 slides-to-scroll=1 dots=true style="top: 75px;left: 35px;">
                            <div><img src="images/C20.jpg" alt="Slide 1" height="420px" /></div>
                            <div><img src="images/C24.jpg" alt="Slide 2" height="420px"/></div>
                            <div><img src="images/C25.jpg" alt="Slide 3" height="420px"/></div>
                            <div><img src="images/C26.jpg" alt="Slide 3" height="420px"/></div>
                        </slick>
                    </div>
                </div>
                <div class="col-sm-7 find-it">
                    <h2 class="blue-text">Visibility & Exposure.</h2>
                    <h4>Let us do what we do best, so you can do what you do best.</h4>
                    <p>The BarbrDo app will locate Barbers that are in the area and available!  You can browse local barbers, read their reviews and check their schedule. </p>


                    <div class="othsv">
                        <div class="part">
                            <img src="images/smart_cl.png" >
                            <p>Smart Calender</p>
                        </div>
                        <div class="part">
                            <img src="images/bel.png" >
                            <p>Email & SMS reminders</p>
                        </div>
                        <div class="part">
                            <img src="images/mb_apps.png" >
                            <p>Mobile Apps</p>
                        </div>
                        <div class="part">
                            <img src="images/c.png" >
                            <p>Customer contacts </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--slider-wrap-->

    <!-- Engage -->

    <div class="engage">

        <div class="container">

            <div class="row">

                <div class="col-md-7 col-sm-7">

                    <h1>Engage Barbers</h1>

                    <!-- <h2> Give your customer the experience they deserve.</h2> -->

                    <p>The BarbrDo app will locate Barbers that are in the area and available!  You can browse local barbers, read their reviews and check their schedule.  If you like what you see- book the appointment and let the BarbrDo his thing!</p>

                </div>

                <div class="col-md-5 col-sm-5">

                    <div class="mobile cutbottom">
                        <img src="images/C68.jpg" class="splash" alt="">
                    </div>

                </div>


            </div>

        </div>

    </div>

    <!-- Engage -->


    <!-- Services Offered -->

    <!-- <div class="services ">

        <div class="container">

            <div class="row">
                <div class="col-sm-12">
                    <h3>Services <span class="red-text"> Offered</span></h3>
                </div>
            </div>


            <div class="row">


                <div class="col-md-4 col-sm-4 col-xs-6">
                    <div class="thiss">
                        <img src="images/1.png" >
                        <p>Manage Your Services</p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-6">
                    <div class="thiss">
                        <img src="images/2.png" >
                        <p>Book a Chair</p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-6">
                    <div class="thiss">
                        <img src="images/3.png" >
                        <p>Connect with your customer</p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-6">
                    <div class="thiss">
                        <img src="images/4.png" >
                        <p>Get Discovered</p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-6">
                    <div class="thiss">
                        <img src="images/5.png" >
                        <p>Build your Brand</p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-6">
                    <div class="thiss">
                        <img src="images/6.png" >
                        <p>Keep Track of your Revenue</p>
                    </div>
                </div>


            </div>

        </div>

    </div> -->

    <!-- Services Offered -->


    <!-- Engage -->

   <!--  <div class="engage anywhere">

        <div class="container">

            <div class="row">

                <div class="col-md-5 col-sm-6 text-center">

                    <div class="barber_plan">
                        <h4>Barber Plan</h4>
                        <h1>$25/mon</h1>
                        <h2>Less than $1 day</h2>

                        <span class="brush"></span>

                    </div>

                </div>



                <div class="col-md-7 col-sm-6">

                    <h1>Anywhere. Anytime. Any Device.</h1>

                    <h2> Easy to set up, manage, and use.</h2>

                    <p>The BarbrDo app will locate Barbers that are in the area and available!  You can browse local barbers, read their reviews and check their schedule.  </p>

                    <a href="#" class="trybtn">Try BarbrDo for free</a>

                </div>




            </div>

        </div>

    </div> -->

    <!-- Engage -->		


    <!--contact-us-->
    <div class="contact-us">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h3>Contact <span class="red-text">US</span></h3>
                    <h5>We’ll get in touch with you right away!</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-7">
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" required/>
                            <div class="form-control-placeholder">Your Name</div>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" required/>
                            <div class="form-control-placeholder">Email Address</div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" required/>
                            <div class="form-control-placeholder">Phone Number</div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" required></textarea>
                            <div class="form-control-placeholder">Message</div>
                        </div>
                        <button type="submit" class="btn red-outline">Contact Us</button>
                    </form>
                </div>
                <div class="col-xs-5">
                    <ul class="contact-info">	
                        <li>
                            <span><img src="images/pin.png" alt="Location"/></span>
                            <div class="pull-left detail">
                                <h5>Find us at</h5>
                                <address>
                                    293 State Rt 18 S, #121<br>
                                    East Brunswick, NJ 08816
                                </address>
                            </div>
                        </li>
                        <li>
                            <span><img src="images/call.png" alt="Call"/></span>
                            <div class="pull-left detail">
                                <h5>Call Us</h5>
                                <p>(917) 717 - 3813</p>
                            </div>
                        </li><li>
                            <span><img src="images/email.png" alt="Email"/></span>
                            <div class="pull-left detail">
                                <h5>Email us at</h5>
                                <p><a href="javascript:void(0)">anu@barbrdo.com</a></p>
                            </div>
                        </li>
                        <li>
                            <span><img src="images/follow.png" alt="Follow"/></span>
                            <div class="pull-left detail">
                                <h5>Find us at</h5>
                                <p><a href="javascript:void(0)"><img src="images/fb.png" alt="Facebook"/></a><a href="javascript:void(0)"><img src="images/insta.png" alt="Instagram"/></a></p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--contact-us-->
</main>