
<div class="crumb"> <span>Book Appointment</span> </div>
<div class="wrapper">
    
    
    
        
    <div class="col-md-12">
        
        <h3 class="actn"> Chair 2</h3>
    
    </div>
    
    
    
    
    <div class="row">
    <div class="col-md-6">
      <div class="block">
        <h2>Chair Split - Shop Percentage</h2>
        <div class="range">
          <rzslider rz-slider-model="slider.value"
          rz-slider-options="slider.options"></rzslider>
        </div>
      </div>
    </div>
       <div class="col-md-6">
      <div class="block">
        <h2>Rent Chair Weekly/ Monthly</h2>
          
      
           <div class="type_selection wekmonth " >
               <form>
               
               <label for="Weekly" >
                  <input id="Weekly" type="radio" value="Weekly" name="content" ng-model="content" >
                  <span>Weekly</span> </label>
                <label for="Monthly">
                  <input id="Monthly" type="radio" value="Monthly" name="content" ng-model="content" >
                  <span>Monthly</span> </label>
              
               </form>
               
              
               <div class="contact-us  pz">
               
               <div class="form-group" ng-show="content == 'Weekly'" >
              <input type="text" class="form-control" required value="" />
              <div class="form-control-placeholder">Enter Price for Week</div>
            </div>
               
            <div class="form-group" ng-show="content == 'Monthly'">
              <input type="text" class="form-control" required value="" />
              <div class="form-control-placeholder">Enter Price for Month</div>
            </div>
               </div>
               
           
               
               
               
              </div>
          
          
           
    

          
          
      </div>
    </div>
      
      
    <div class="col-md-12 alllnk">
        
        <h3 class="actn">Action to this Chair </h3>
        
        
        <a href="">Mark Booked</a>
        <a href="">Post to All</a>
        <a href="">Search Barber</a>
        <a href="">Remove Chair</a>
      
      
    </div>  
      
      
      
      
      
      
      
      
      
      
  </div>
</div>

