
<div class="crumb"> <span>Book Appointment</span> </div>
<div class="wrapper">
  
    <div class="block">
    
    <h2>Contact Barbrdo Office</h2>
        
    
         <div class="contact-us  pz foremail ">
               
               <div class="form-group" >
                   <textarea class="form-control" required /></textarea>
           
              <div class="form-control-placeholder">Enter Message here</div>
            </div>
          <button class="adds_Btn "> Send </button>
        </div>
        
        
    
    </div>
    
    
  
    
</div>
