
<!-- <div class="afheader">
  <div class="head">
    <div class="log "> <a href="#"><img src="images/logo.png" alt=""> </a> </div>
    <a href="#" class="bkap">Book Appointment</a>
    <div class="right_links">
      <ul>
        <li> <a href="#" class="noti"> <img src="images/noti.png" alt="" > <span>8</span> </a> </li>
        <li class="userimage dropdown"> <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="uimg"><img src="images/platform-bg.png" alt=""></span> <span class="name">Johan Smith</span> <span class="caret"></span> </a>
          <ul class="dropdown-menu csdwon" aria-labelledby="dLabel">
            <li><a href="#">My Profile</a></li>
            <li><a href="#">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="nav_header"> <a href="#" class="bkap">Book Appointment</a> <a href="#" class="right_menu"><img src="images/hamburger.png" alt="" ></a> </div>
</div> -->
<div class="out_wrapper">
  <!-- <div class="sidebar">
    <ul>
      <li><a class="active" href="#">Dashboard</a></li>
      <li><a href="#">Gallery</a></li>
    </ul>
  </div> -->
  <div class="crumb"> <span>Book Appointment</span> </div>
  <div class="wrapper">
    <div class="block">
      <h2>Book Appointment</h2>
      
      <!-- Sorting -->
      <div class="sorting mbft">
        <div class="view">
          <label> View by </label>
          <select>
            <option>Shop</option>
            <option>Barber</option>
          </select>
        </div>
        <div class="search">
          <input type="text" placeholder="Search" >
          <input type="submit" value="" name="" >
        </div>
      </div>
      <!-- Sorting -->
      
      <div class="org_content">
        <div class="row">
         
          <div class="col-md-4 col-sm-4 col-xs-6 fullb">
            <div class="barber">
              <div class="cont">
                <div class="user_pic"> <img src="images/brbr_pic.png" alt="" ></div>
                <h3>Jain Smith</h3>
                <p><span>Distance</span> : 0.3 miles</p>
                <p><span>Location</span> : Pop’s Barber Shop</p>
                <div class="rating"> <img src="images/rating.png" alt="" > </div>
              </div>
              <a href="#" class="book_nw" > Book Now <i class="fa  fa-angle-right"></i> </a> </div>
          </div>
          
          <div class="col-md-4 col-sm-4 col-xs-6 fullb">
            <div class="barber">
              <div class="cont">
                <div class="user_pic"> <img src="images/brbr_pic.png" alt="" ></div>
                <h3>Jain Smith</h3>
                <p><span>Distance</span> : 0.3 miles</p>
                <p><span>Location</span> : Pop’s Barber Shop</p>
                <div class="rating"> <img src="images/rating.png" alt="" > </div>
              </div>
              <a href="#" class="book_nw" > Book Now <i class="fa  fa-angle-right"></i> </a> </div>
          </div>
          
          <div class="col-md-4 col-sm-4 col-xs-6 fullb">
            <div class="barber">
              <div class="cont">
                <div class="user_pic"> <img src="images/brbr_pic.png" alt="" ></div>
                <h3>Jain Smith</h3>
                <p><span>Distance</span> : 0.3 miles</p>
                <p><span>Location</span> : Pop’s Barber Shop</p>
                <div class="rating"> <img src="images/rating.png" alt="" > </div>
              </div>
              <a href="#" class="book_nw" > Book Now <i class="fa  fa-angle-right"></i> </a> </div>
          </div>
          
          
          <div class="col-md-4 col-sm-4 col-xs-6 fullb">
            <div class="barber">
              <div class="cont">
                <div class="user_pic"> <img src="images/brbr_pic.png" alt="" ></div>
                <h3>Jain Smith</h3>
                <p><span>Distance</span> : 0.3 miles</p>
                <p><span>Location</span> : Pop’s Barber Shop</p>
                <div class="rating"> <img src="images/rating.png" alt="" > </div>
              </div>
              <a href="#" class="book_nw" > Book Now <i class="fa  fa-angle-right"></i> </a> </div>
          </div>
          
          <div class="col-md-4 col-sm-4 col-xs-6 fullb">
            <div class="barber">
              <div class="cont">
                <div class="user_pic"> <img src="images/brbr_pic.png" alt="" ></div>
                <h3>Jain Smith</h3>
                <p><span>Distance</span> : 0.3 miles</p>
                <p><span>Location</span> : Pop’s Barber Shop</p>
                <div class="rating"> <img src="images/rating.png" alt="" > </div>
              </div>
              <a href="#" class="book_nw" > Book Now <i class="fa  fa-angle-right"></i> </a> </div>
          </div>
          
          <div class="col-md-4 col-sm-4 col-xs-6 fullb">
            <div class="barber">
              <div class="cont">
                <div class="user_pic"> <img src="images/brbr_pic.png" alt="" ></div>
                <h3>Jain Smith</h3>
                <p><span>Distance</span> : 0.3 miles</p>
                <p><span>Location</span> : Pop’s Barber Shop</p>
                <div class="rating"> <img src="images/rating.png" alt="" > </div>
              </div>
              <a href="#" class="book_nw" > Book Now <i class="fa  fa-angle-right"></i> </a> </div>
          </div>
         
          
         
          
          
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<script>
$(document).ready(function(){
	
  $('input').iCheck({
    checkboxClass: 'icheckbox_flat-red',
    radioClass: 'iradio_flat-red'
  });
	
	$('.right_menu').click(function(){
		$('.sidebar').toggleClass('active');
	})
});
</script>
