<header ng-controller="HeaderCtrl">
    <!--top-header-->
    <div class="top-header">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="text-right">
                        <!-- <a href="">Location</a> -->
                        <a href="" ng-click="modelOpenFunction()">Login/Sign up</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--top-header-->
    <!--main-menu-->
    <nav class="navbar navbar-inverse" id="nav-bar">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#"><img src="images/logo.png" alt="" /></a>
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                </div>
                <div class="col-sm-8 right-menu">
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav text-right">
                            <li ng-class="{'active':checkState('home')}"><a ui-sref="home">Customers</a></li>
                            <li ng-class="{'active':checkState('barberHome')}"><a ui-sref="barberHome">Barbers</a></li>
                            <li ng-class="{'active':checkState('shopHome')}"><a ui-sref="shopHome">Barber Shops</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!--main-menu-->
</header>
<script type="text/ng-template" id="myModalContent.html">
    <div class="">
        <div class="holder">
            <div class="half left">
                <img src="images/b_chair.png" class="chair">
                <ul>
                    <li><span><i class="fa fa-check"></i></span> Easy and Convenient Scheduling</li>
                    <li><span><i class="fa fa-check"></i></span> Real-time Communications</li>
                    <li><span><i class="fa fa-check"></i></span> On Demand Services</li>
                    <li><span><i class="fa fa-check"></i></span> Supported on Multiple Platforms</li>
                </ul>
            </div>
            <div class="half right">
             <div class="ctabs">
            <ul class="nav nav-tabs">
                <li ng-class="{active:tabActive=='login'}" ng-click><a data-toggle="tab" href="#login" >Login</a></li>
                <li ng-class="{active:tabActive=='signup'}"><a data-toggle="tab" href="#signup" >Signup</a></li>
            </ul>
            <div class="tab-content">
                <div id="login" class="tab-pane fade in active">
                    <div class="tab-content contact-us">
                                <div role="tabpanel" class="tab-pane active" id="login">
                                    <div ng-if="messages.error" role="alert" class="alert alert-danger">
                                        <div ng-repeat="myerr in messages.error">{{myerr.msg}}</div>
                                    </div>
                                    <div class="text-center">
                                        <a href="#" ng-click="authenticate('facebook')"><img src="images/fbb.png"></a>
                                    </div>
                                    <form name="loginForm" >
                                        <div class="form-group">
                                            <input type="text" name="email" id="email" ng-model="user.email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" class="form-control" required/>
                                            <div class="form-control-placeholder">Email Address</div>
                                            <div class="validationError" ng-messages="loginForm.email.$error" ng-show="
                                                loginForm.email.$touched && loginForm.email.$invalid && (!loginForm.email.$pristine || loginForm.$submitted)" role="alert">
                                                <span style="color:red" ng-message="pattern" class="error-message">Email is not valid</span>
                                            </div>
                                            <div class="validationError" ng-messages="loginForm.email.$error" ng-show="loginForm.email.$error.required &&
                                                        loginForm.email.$touched && loginForm.email.$invalid" role="alert">
                                                <span style="color:red" ng-message="required" class="error-message">Email is required</span>
                                            </div>
                                        </div>
                                        <div class="form-group mbzero">
                                            <input type="password" name="password" id="password" ng-model="user.password" class="form-control" required />
                                            <div class="form-control-placeholder">Password</div>
                                            <!-- <a href="#" class="eye"><i class="fa fa-eye"></i></a> -->
                                        </div>
                                        <a class="forgot" data-toggle="modal" data-target="#forgotpassword" >Forgot Password ?</a>
                                        <button type="submit" class="sb_button" ng-click="login()" ng-disabled="loginForm.$invalid">Login</button>
                                        <p class="msg">New User? <span>   <a data-toggle="tab" href="#signup" ng-click="activeTab('signup')">Signup</a> </span>
                                        </p>
                                    </form>
                                </div>
                            </div>
                </div>
                <div id="signup" class="tab-pane fade">
                    <div role="tabpanel" class="tab-pane contact-us" id="signup" style="margin-top: 0px; padding:0px;">
                                <div ng-if="messagess.error" role="alert" class="alert alert-danger">
                                    <div ng-repeat="err in messagess.error">
                                        {{err[0].msg}}</div>
                                </div>
                                <form name="signUpForm">
                                    <div class="type_selection">
                                        <label name="type" ng-click="usertype('customer')" ng-init="user.user_type = 'customer'" ng-class="{isactive:user.user_type=='customer'}">
                                            <img src="/images/p1.png">
                                            <span>Customer</span>
                                        </label>
                                        <label name="type" ng-click="usertype('barber')" ng-class="{isactive:user.user_type=='barber'}">
                                            <img src="/images/p2.png">
                                            <span>Barber</span>
                                        </label>
                                        <label name="type" ng-click="usertype('shop')" ng-class="{isactive:user.user_type=='shop'}">
                                            <img src="/images/p3.png">
                                            <span>Barber Shop</span>
                                        </label>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" name="firstname" id="email" class="form-control" ng-model="user.first_name" ng-pattern="/^[a-z ,.'-]+$/i" ng-minlength="3" ng-maxlength="20" maxlength="21" required/>
                                            <div class="form-control-placeholder">First Name</div>
                                            <div class="validationError" ng-messages="signUpForm.firstname.$error" ng-show="
                                                signUpForm.firstname.$error.required && signUpForm.firstname.$touched &&
                                                        signUpForm.firstname.$invalid
                                            " role="alert">
                                                <span style="color:red" ng-message="required">First name is required</span>
                                            </div>
                                            <div class="validationError" ng-messages="signUpForm.firstname.$error" ng-show="
                                                signUpForm.firstname.$error.pattern && (!signUpForm.firstname.$pristine || signUpForm.$submitted)" role="alert">
                                                <span style="color:red" ng-message="pattern">Enter valid character </span>
                                            </div>
                                            <div class="validationError" ng-show="signUpForm.firstname.$error.maxlength && signUpForm.firstname.$dirty" ">

                                            <span style="color:red ">First name maximum length exceeds</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 ">
                                    <div class="form-group ">
                                        <input type="text " name="lastname " id="email " class="form-control " ng-model="user.last_name " ng-pattern="/^[a-z ,. '-]+$/i" ng-minlength="3" ng-maxlength="20" maxlength="21" required/>
                                        <div class="form-control-placeholder">Last Name</div>

                                        <div class="validationError" ng-messages="signUpForm.lastname.$error" ng-show="
                                                signUpForm.lastname.$error.required && signUpForm.lastname.$touched &&
                                                        signUpForm.lastname.$invalid
                                            " role="alert">
                                            <span style="color:red" ng-message="required">Last name is required</span>
                                        </div>
                                        <div class="validationError" ng-messages="signUpForm.lastname.$error" ng-show="
                                                signUpForm.lastname.$error.pattern && (!signUpForm.lastname.$pristine || signUpForm.$submitted)" role="alert">
                                            <span style="color:red" ng-message="pattern">Enter valid character </span>
                                        </div>
                                        <div class="validationError"  ng-show="signUpForm.lastname.$error.maxlength && signUpForm.lastname.$dirty"">

                                            <span style="color:red">Last name maximum length exceeds</span>
                                        </div>
                                    </div>


                                </div>


                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" name="email" id="email" class="form-control" ng-model="user.email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" required/>
                                        <div class="form-control-placeholder">Email Address</div>
                                        <div class="validationError" ng-messages="signUpForm.email.$error" ng-show="
                                                signUpForm.email.$touched && signUpForm.email.$invalid && (!signUpForm.email.$pristine || signUpForm.$submitted)" role="alert">
                                            <span style="color:red" ng-message="pattern" class="error-message">Email is not valid</span>
                                        </div>
                                        <div class="validationError" ng-messages="signUpForm.email.$error" ng-show="signUpForm.email.$error.required &&
                                                        signUpForm.email.$touched && signUpForm.email.$invalid" role="alert">
                                            <span style="color:red" ng-message="required" class="error-message">Email is required</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="password" name="password" id="password" class="form-control" ng-model="user.password" ng-minlength="5" ng-maxlength="20" maxlength="21" required />
                                        <div class="form-control-placeholder">Password</div>
                                        <!-- <a href="#" class="eye"><i class="fa fa-eye"></i></a> -->
                                        <div class="validationError" ng-messages="signUpForm.password.$error" ng-show="
                                                signUpForm.password.$error.required &&
                                                        signUpForm.password.$touched && signUpForm.password.$invalid" role="alert">
                                            <span style="color:red" ng-message="required">password is required</span>
                                        </div>
                                        <div class="validationError" ng-if="!updateButton" ng-show="signUpForm.password.$error.maxlength && signUpForm.password.$dirty">
                                            <span style="color:red">password maximum length exceeds</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="password" class="form-control" name="confirmPassword" id="confirmPassword" ng-model="user.confirmPassword" required ng-pattern="user.password" />
                                        <div class="form-control-placeholder">Confirm Password</div>
                                        <!-- <a href="" class="eye"><i class="fa fa-eye"></i></a> -->
                                        <div class="validationError" ng-messages="signUpForm.confirmPassword.$error" ng-show=" signUpForm.confirmPassword.$error.pattern && (!signUpForm.confirmPassword.$pristine || signUpForm.$submitted)" role="alert">
                                            <span style="color:red" ng-if="!updateButton" ng-message="pattern">password do not match</span>
                                        </div>
                                        <div ng-if="!updateButton" class="validationError" ng-messages="signUpForm.confirmPassword.$error" ng-show=" signUpForm.confirmPassword.$error.required && signUpForm.confirmPassword.$touched && signUpForm.confirmPassword.$invalid" role="alert">
                                            <span ng-if="!updateButton" style="color:red" ng-message="required" class="error-message">Confirm password is required</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="mobile_number" id="mobile_number" ng-model="user.mobile_number" mask="(999) 999-9999" mask-clean='true ' mask-restrict='reject ' ng-minlength="10" ng-maxlength="15" maxlength="15" required />
                                        <div class="form-control-placeholder">Phone No.</div>
                                        <p class="help-block">
                                            <span style="color:red" ng-show="signUpForm.mobile_number.$touched && signUpForm.mobile_number.$invalid && signUpForm.mobile_number.$error.required">Mobile number is required.</span>
                                            <span style="color:red" ng-show="signUpForm.mobile_number.$error.minlength">Phone have 10-digits minimum.</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div ng-if="show">
                                        <input type="text" class="form-control" name="license_number" id="license_number" ng-model="user.license_number" required />
                                        <div class="form-control-placeholder">License No.</div>
                                        <div class="validationError" ng-messages="signUpForm.license_number.$error" ng-show="
                                                signUpForm.license_number.$error.required && signUpForm.license_number.$touched &&
                                                        signUpForm.license_number.$invalid" role="alert">
                                            <span style="color:red" ng-message="required">License number is required</span>
                                        </div> 
                                    </div>
                                </div><div>
                                    
                                </div>
                                <button type="submit" class="sb_button" ng-click="signup()" ng-disabled="signUpForm.$invalid">Sign Up</button>
                                <p class="msg">Already have an account? <span> <a data-toggle="tab" href="#login" ng-click="activeTab('login')">Login</a> </span></p>
                            </form>
                            </div>
                </div>
            </div>
           </div>
           </div>
        </div>
    </div>
</script>

 <div class="modal " id="forgotpassword" role="dialog" >
        <div class="modal-dialog">
        <div ng-if="messages.error" role="alert" class="alert alert-danger">
        <div ng-repeat="error in messages.error">{{error.msg}}</div>
      </div>
      <div ng-if="messages.success" role="alert" class="alert alert-success">
        <div ng-repeat="success in messages.success">{{success.msg}}</div>
      </div>
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="background-color: #c2f7b5;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Forgot Password</h4>
                </div>
                <div class="modal-body" ng-init="pageChanged()">
                    <p>Enter your email address below and we'll send you password reset instructions.</p>
          <input type="email" name="email" id="email" placeholder="Email" class="form-control" ng-model="user.email" autofocus>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="forgotPassword()" >Reset Password</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" >Cancel</button>
                </div>
            </div>
        </div>
    </div>
