<main>
    <!--banner-->
    <div class="banner">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 col-sm-7">
                    <div class="mrtop">
                        <h1>Time for a cut , But no time to wait</h1>
                        <div class="form-group">
                            <input type="search" placeholder="Search for Barbers" class="form-control" />
                            <button type="submit" class="btn red-btn">Search</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-5">
                    <div class="mobile">
                        <img src="images/splash.png" class="splash" alt="">
                        <div class="mobile-icon">
                            <a href="javascript:void(0)"><img src="images/ios.png" alt="" /></a>
                            <a href="javascript:void(0)"><img src="images/android.png" alt="" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--banner-->
    <div class="clearfix"></div>
    <!--slider-wrap-->
    <div class="slider-wrap">
        <div class="container">
            <div class="row">
                <div class="col-sm-5">
                    <div class="slider-box">
                     <div class="slides">
                        <slick autoplay="true" slides-to-show='1' slides-to-scroll='1' dots='true' style="top:75px;left:34px;">
                            <div><img src="images/C20.jpg" alt="Slide 1" /></div>
                            <div><img src="images/C24.jpg" alt="Slide 2" /></div>
                            <div><img src="images/C25.jpg" alt="Slide 3" /></div>
                            <div><img src="images/C26.jpg" alt="Slide 3" /></div>
                        </slick>
                    </div>
                    </div>
                </div>
                <div class="col-sm-7 find-it">
                    <h2 class="blue-text">Find It.</h2>
                    <h2 class="red-text">Book It.</h2>
                    <h4>And let our BarbrDo his thing !</h4>
                    <p>The BarbrDo app will locate Barbers that are in the area and available! You can browse local barbers, read their reviews and check their schedule. If you like what you see- book the appointment and let the BarbrDo his thing!</p>
                </div>
            </div>
        </div>
    </div>
    <!--slider-wrap-->
    <!--features-->
    <div class="features">
        <div class="container">
            <div class="row">
                <div class="col-xs-3">
                    <div class="img-wrap">
                        <img src="images/f1.png" alt="100% FREE TO USE" />
                    </div>
                    <p>100% FREE TO USE</p>
                </div>
                <div class="col-xs-3">
                    <div class="img-wrap">
                        <img src="images/f2.png" alt="BOOK APOINTMENTS 24/7" />
                    </div>
                    <p>100% FREE TO USE</p>
                </div>
                <div class="col-xs-3 bm-0">
                    <div class="img-wrap">
                        <img src="images/f3.png" alt="PUSH NOTIFICATIONS" />
                    </div>
                    <p>100% FREE TO USE</p>
                </div>
                <div class="col-xs-3 bm-0">
                    <div class="img-wrap">
                        <img src="images/f4.png" alt="CONVENIENT" />
                    </div>
                    <p>100% FREE TO USE</p>
                </div>
            </div>
        </div>
    </div>
    <!--features-->
    <!--platfroms-->
    <div class="platforms">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h3>Our platform is <span class="red-text">for... </span></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <div class="center-img">
                        <a href="javascript:void(0)" class="inner"><img src="images/p1.png" alt="Customer" /></a>
                    </div>
                    <h5>CUSTOMER</h5>
                    <div class="text-wrap">
                        <p>Find the nearest barber</p>
                        <p>Browse Barber Profiles </p>
                        <p>Easy and convenient scheduling</p>
                    </div>
                    <button class="btn white-outline">CUSTOMER SIGN-UP</button>
                </div>
                <div class="col-xs-4">
                    <div class="center-img">
                        <a href="javascript:void(0)" class="inner"><img src="images/p2.png" alt="Barber" /></a>
                    </div>
                    <h5>Barber</h5>
                    <div class="text-wrap">
                        <p>Manage your schedule</p>
                        <p>Find chairs to work at</p>
                        <p>Develop your professional brand</p>
                    </div>
                    <button class="btn white-outline">BARBER SIGN-UP</button>
                </div>
                <div class="col-xs-4">
                    <div class="center-img">
                        <a href="javascript:void(0)" class="inner"><img src="images/p3.png" alt="Barber Shops" /></a>
                    </div>
                    <h5>BARBER SHOPS</h5>
                    <div class="text-wrap">
                        <p>Have a mobile presence</p>
                        <p>Browse and Hire Barbers</p>
                        <p>Rent your chairs</p>
                    </div>
                    <button class="btn white-outline">SHOP SIGN-UP</button>
                </div>
            </div>
        </div>
    </div>
    <!--platforms-->
    <!--contact-us-->
    <div class="contact-us">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h3>Contact <span class="red-text">US</span></h3>
                    <h5>We’ll get in touch with you right away!</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-7">
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" required/>
                            <div class="form-control-placeholder">Your Name</div>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" required/>
                            <div class="form-control-placeholder">Email Address</div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" required/>
                            <div class="form-control-placeholder">Phone Number</div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" required></textarea>
                            <div class="form-control-placeholder">Message</div>
                        </div>
                        <button type="submit" class="btn red-outline">Contact Us</button>
                    </form>
                </div>
                <div class="col-xs-5">
                    <ul class="contact-info">
                        <li>
                            <span><img src="images/pin.png" alt="Location"/></span>
                            <div class="pull-left detail">
                                <h5>Find us at</h5>
                                <address>
                                    293 State Rt. 18 S, #121
                                    <br> East Brunswick, NJ 08816
                                </address>
                            </div>
                        </li>
                        <li>
                            <span><img src="images/call.png" alt="Call"/></span>
                            <div class="pull-left detail">
                                <h5>Call Us</h5>
                                <p>(917) 717 - 3813</p>
                            </div>
                        </li>
                        <li>
                            <span><img src="images/email.png" alt="Email"/></span>
                            <div class="pull-left detail">
                                <h5>Email us at</h5>
                                <p><a href="javascript:void(0)">hello@barbrdo.com</a></p>
                            </div>
                        </li>
                        <li>
                            <span><img src="images/follow.png" alt="Follow"/></span>
                            <div class="pull-left detail">
                                <h5>Find us at</h5>
                                <p>
                                    <a href="javascript:void(0)"><img src="images/fb.png" alt="Facebook" /></a>
                                    <a href="javascript:void(0)"><img src="images/insta.png" alt="Instagram" /></a>
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--contact-us-->
</main>
