<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      <div class="panel">
        <div class="panel-body">
          <h3>FIND IT, BOOK IT AND LET OUR BarBrDo HIS THING!</h3>
          <p>The BarbrDo app is capable of saving your favorite nail salon so you can conveniently book your next appointment 24/7. Locating a new nail salon? BarbrDo will provide you with nail salon listings by using your phone's GPS to detect your location or you can simply input a zip code or city.</p>
          <a href="#" role="button" class="btn btn-default">View details</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel">
        <div class="panel-body">
          <h3>CASHLESS & CONVENIENT</h3>
          <p>No more digging through your purse and wallet with your new fresh set of nails. We've made it simple, fast, and most importantly safe. Let your nails dry smudge free and pay with PolishedPay.</p>
          <a href="#" role="button" class="btn btn-default">View details</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel">
        <div class="panel-body">
          <h3>POLISHED REVIEWS</h3>
          <p>Say goodbye to fake reviews, and say hello to reviews and pictures that only come from actual BarbrDo members</p>
          <a href="#" role="button" class="btn btn-default">View details</a>
        </div>
      </div>
    </div>
  </div>
</div>
