
<div class="crumb"> <span>Book Appointment</span> </div>
<div class="wrapper">
  <div class="block">
    <h2>Shops are requesting your services</h2>
    <div class="all_cuts">
      <div class="table-responsive">
        <table class="table table-bordered">
          <tr>
            <th>Picture</th>
            <th>Shop Name</th>
            <th>Chair Split</th>
            <th>Date</th>
            <th class="action">Action</th>
          </tr>
          <tr>
            <td> <span class="lspic"> <img src="images/shop.jpg" alt=""> </span> </td>
            <td>Pop's Barber Shop</td>
            <td>50/50</td>
            <td>11, March, 2017</td>
            <td class="ac_btn"> <a href="#" class="" tooltip-placement="top" uib-tooltip="View" > <i class="fa fa-eye "></i> </a> <a href="#" class="" tooltip-placement="top" uib-tooltip="Accept" > <i class="fa fa-check "></i> </a> <a ui-sref="appointmentDetail" class="" tooltip-placement="top" uib-tooltip="Reject" > <i class="fa fa-close"></i> </a> </td>
          </tr>
          <tr>
            <td> <span class="lspic"> <img src="images/shop.jpg" alt=""> </span> </td>
            <td>Pop's Barber Shop</td>
            <td>50/50</td>
            <td>11, March, 2017</td>
            <td class="ac_btn"> <a href="#" class="" tooltip-placement="top" uib-tooltip="View" > <i class="fa fa-eye "></i> </a> <a href="#" class="" tooltip-placement="top" uib-tooltip="Accept" > <i class="fa fa-check "></i> </a> <a href="#" class="" tooltip-placement="top" uib-tooltip="Reject" > <i class="fa fa-close"></i> </a> </td>
          </tr>
          <tr>
            <td> <span class="lspic"> <img src="images/shop.jpg" alt=""> </span> </td>
            <td>Pop's Barber Shop</td>
            <td>50/50</td>
            <td>11, March, 2017</td>
            <td class="ac_btn"> <a href="#" class="" tooltip-placement="top" uib-tooltip="View" > <i class="fa fa-eye "></i> </a> <a href="#" class="" tooltip-placement="top" uib-tooltip="Accept" > <i class="fa fa-check "></i> </a> <a href="#" class="" tooltip-placement="top" uib-tooltip="Reject" > <i class="fa fa-close"></i> </a> </td>
          </tr>
          <tr>
            <td> <span class="lspic"> <img src="images/shop.jpg" alt=""> </span> </td>
            <td>Pop's Barber Shop</td>
            <td>50/50</td>
            <td>11, March, 2017</td>
            <td class="ac_btn"> <a href="#" class="" tooltip-placement="top" uib-tooltip="View" > <i class="fa fa-eye "></i> </a> <a href="#" class="" tooltip-placement="top" uib-tooltip="Accept" > <i class="fa fa-check "></i> </a> <a href="#" class="" tooltip-placement="top" uib-tooltip="Reject" > <i class="fa fa-close"></i> </a> </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
