<ol class="breadcrumb">
    <li class="breadcrumb-item "><a ui-sref="upcomingComplete">Customer Home</a></li>
    <li class="breadcrumb-item active">Notification</li>
</ol>
 <div class="wrapper" ng-init="callFunctions()">
    <div class="block">
      <h2>Book Appointment</h2>
  	</div>
  	<div class="clearfix"></div>
		<div class="list-group" ng-if="notify.length>0">
		 <li class="list-group-item" ng-repeat ="items in notify">
		 	{{items.text}} on {{items.created_date | date}}</li>
		</div>
		<div ng-if="notify.length==0">
			You Don't have any notification.
		</div>
		<div ng-if="!notify">
			You Don't have any notification...
		</div>
</div>