<div ng-if="loaderStart" loader-css="line-scale-pulse-out" class="loader"></div>
<div class="crumb"> <span>Requester Details</span> </div>
<div class="wrapper" ng-init="requesterdetails()">
    <div class="block" >
        <div class="panel panel_1"">
            <div class="panel-body brdr_btm">
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                        <div ng-if="requester.picture" class="profile_pic">
                                <div class="profile_inner">
                                    <img ng-src="{{imgPath + requester.picture}} " class="img-circle" width="304" height="236">
                                </div> 
                        </div>
                        <div ng-if="!requester.picture">
                                <img ng-src="images/no-image-found.jpg " class="img-circle" width="304" height="236">
                        </div>
                    </div>
                    <div class="col-lg-2">
                    </div>
                <div class="row">
                    <div class="col-sm-6 col-xs-6">
                        <span class="top-head top-head1">
                        Total Photos : &nbsp;&nbsp;&nbsp; <span ng-if="requester.gallery.length=='0'">{{requester.gallery.length}} </span><span ng-if="requester.gallery.length!='0'"> <a ui-sref="requestorgallery({id:requester._id})" > {{requester.gallery.length}} </a> </span>
                        </span>
                    </div>
                    <div class="col-sm-6 col-xs-6">
                        <span class="top-head">
                        Total Cuts : &nbsp;&nbsp;&nbsp;  <span ng-if="requester.ratings.length=='0'">{{requester.ratings.length}} </span><span ng-if="requester.ratings.length!='0'"> <a ui-sref="requestorgallery({id:requester._id})" > {{requester.ratings.length}} </a> </span>
                        </span> 
                    </div>
                </div>
                <table class="table table-striped" >
                    <tr>
                        <td>
                            <h5>First Name </h5></td>
                        <td> {{requester.first_name}}</td>
                    </tr>
                    <tr>
                        <td>
                            <h5>Last Name </h5></td>
                        <td> {{requester.last_name}}</td>
                    </tr>
                    <tr>
                        <td>
                            <h5>Email</h5></td>
                        <td> {{requester.email}} </td>
                    </tr>
                    <tr>
                        <td>
                            <h5>Phone</h5></td>
                        <td> {{requester.mobile_number}} </td>
                    </tr>
                        <td>
                            <h5>Member Since</h5></td>
                        <td> {{requester.created_date | date: dd/mm/yyyy}} </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

