
<div class="crumb"> <span>Book Appointment</span> </div>
<div class="wrapper">
    

  <div class="block higlght">
    <h2>Barber Shop Address</h2>
    <div class="row">
      <div class="col-md-8 col-sm-8">
        <p><i class="fa  fa-map-marker"> </i> Pop's Barber Shop, 123 Main Street, Jersey City, NJ 07302</p>
      </div>
     
    </div>
  </div>     
    
    
  <div class="block higlght">
    <h2>Request For</h2>
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <p><i class="fa fa-calendar"> </i> Saturday, March 11</p>
      </div>
      <div class="col-md-4 col-sm-6">
        <p><i class="fa  fa-clock-o"> </i> 9:00 AM</p>
      </div>
     
    </div>
  </div>
    
    
  <div class="block higlght">
    <h2>Chair Details</h2>
    <div class="row">
      <div class="col-md-8 col-sm-8">
        <p><i class="zmdi zmdi-hc-fw"></i> Chair Split 50/50 </p>
      </div>
     
      
    </div>
  </div>    


  <div class="perform_action">
    <div class="row">
      <div class="col-md-offset-3 col-md-6 ">
        <button class="subtn"><i class="fa  fa-thumbs-o-up"></i> Contact Shop</button>
      </div>
    </div>
  </div>
</div>
