
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a ui-sref="barberDashboard">Barber Home</a></li>
    <li class="breadcrumb-item active">Invite Customer</li>
</ol>
<div class="wrapper">
  <div class="block">
    <h2>Send Invitations</h2>
     <div class="pedetail contact-us cprofile">
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <div class="form-group">
              <input type="text" class="form-control" required value="" />
              <div class="form-control-placeholder">Enter email</div>
            </div>
          </div>
          
          
        </div>
      </div>
      
      
       <button class="adds_Btn "> Send Invitation </button>
   
     
  </div>
</div>
