
<div class="crumb"> <span>Book Appointment</span> </div>
<div class="wrapper">
  <div class="block higlght">
    <h2>Shop Address</h2>
    <div class="row">
      <div class="col-md-8 col-sm-8">
        <p><i class="fa  fa-map-marker"> </i> Pop's Barber Shop, 123 Main Street, Jersey City, NJ 07302</p>
      </div>
      <div class="col-md-4 col-sm-4"> <a href="#" class="cmbtn">View on Map</a> </div>
    </div>
  </div>
  <div class="block">
    <h2>Select Chair</h2>
    <div class="col-md-4 col-sm-4 col-xs-6 fullb">
      <div class="barber toshop">
        <div class="cont">
          <div class="user_pic"> <img src="images/chair@4x.png" alt="" ></div>
          <h3>Chair 1</h3>
          <p><span>Chair Split</span> : 50/50</p>
       
        </div>
        <a ui-sref="requestchairsent" class="book_nw" > Request <i class="fa  fa-angle-right"></i> </a>
     </div>
    </div>
      
      
    <div class="col-md-4 col-sm-4 col-xs-6 fullb">
      <div class="barber toshop">
        <div class="cont">
          <div class="user_pic"> <img src="images/chair@4x.png" alt="" ></div>
          <h3>Chair 2</h3>
          <p><span>Chair Split</span> : 50/50</p>
       
        </div>
        <a ui-sref="requestchairsent" class="book_nw" > Request <i class="fa  fa-angle-right"></i> </a>
     </div>
    </div>
      
      
      
      <div class="col-md-4 col-sm-4 col-xs-6 fullb">
      <div class="barber toshop">
        <div class="cont">
          <div class="user_pic"> <img src="images/chair@4x.png" alt="" ></div>
          <h3>Chair 3</h3>
          <p><span>Edward Scissorhands</span></p>
       
        </div>
        <a  class="book_nw disable" > Request <i class="fa  fa-angle-right"></i> </a>
     </div>
    </div>
      
      
      
      <div class="col-md-4 col-sm-4 col-xs-6 fullb">
      <div class="barber toshop">
        <div class="cont">
          <div class="user_pic"> <img src="images/chair@4x.png" alt="" ></div>
          <h3>Chair 4</h3>
          <p><span>Chair Split</span> : 50/50</p>
       
        </div>
        <a ui-sref="requestchairsent" class="book_nw" > Request <i class="fa  fa-angle-right"></i> </a>
     </div>
    </div>
      
      
      <div class="col-md-4 col-sm-4 col-xs-6 fullb">
      <div class="barber toshop">
        <div class="cont">
          <div class="user_pic"> <img src="images/chair@4x.png" alt="" ></div>
          <h3>Chair 5</h3>
          <p><span>Chair Split</span> : 50/50</p>
       
        </div>
        <a  class="book_nw disable" > Request <i class="fa  fa-angle-right"></i> </a>
     </div>
    </div>
      
      
      <div class="col-md-4 col-sm-4 col-xs-6 fullb">
      <div class="barber toshop">
        <div class="cont">
          <div class="user_pic"> <img src="images/chair@4x.png" alt="" ></div>
          <h3>Chair 6</h3>
          <p><span>Chair Split</span> : 50/50</p>
       
        </div>
        <a href="#" class="book_nw disable" > Request <i class="fa  fa-angle-right"></i> </a>
     </div>
    </div>
   
      
  </div>
</div>
