<div ng-if="loaderStart" loader-css="line-scale-pulse-out" class="loader"></div>
<div class="crumb"> <span>Shop Details</span> </div>
<div class="wrapper" ng-init="shopdetails()">
    <div class="block" >
        <div class="panel">
            <div class="panel-body">
                <div class="container ">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                        <img class="img-circle" src="/uploadedFiles/{{shoprequesterpic.picture}}" alt="Cinque Terre" width="304" height="236"></div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        Total Photos : &nbsp;&nbsp;&nbsp; {{totalbarbers}} </div>
                    <div class="col-sm-6">
                        Total Cuts : &nbsp;&nbsp;&nbsp; 0 </div>
                </div>
                <br>
                <br>
                <table class="table table-striped" >
                    <tr>
                        <td>
                            <h5>Shop Name </h5></td>
                        <td> {{shoprequester.name}}</td>
                    </tr>
                    <tr>
                        <td>
                            <h5>State</h5></td>
                        <td> {{shoprequester.state}} </td>
                    </tr>
                    <tr>
                        <td>
                            <h5>City</h5></td>
                        <td> {{shoprequester.city}} </td>
                    </tr>
                    <tr>
                        <td>
                            <h5>Member Since</h5></td>
                        <td> {{shoprequester.created_date | date: dd/mm/yyyy}} </td>
                    </tr>
                    <tr>
                        <td>
                            <h5>Total Chairs</h5></td>
                        <td> {{shoprequester.chairs.length}} </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

