<head>
  <link rel="stylesheet" href="/css/style.css">
</head>

<div>
     <font color="green">
    <h2 align="center"><font color="orange">SHOP DETAILS</h2></font>
    <br><br> 
    </font>    
       <div  class="row list-group">
        <div class="item  col-xs-8 col-lg-8" style="margin-left: 250px;">
            <div class="thumbnail">
                <img class="group list-group-image" src="/images/shop.jpg"  height="500px" />
                <div class="caption" >
                 <h3 class="group inner list-group-item-heading">
                 <table>
                 <tr>
                 <td>
                <img   src="/images/maps.png" height="60px" ></td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                       <b><td >
                       <font color="red" > {{shopdetail.name}} <br></h3>
                   
						<h4>{{shopdetail.city}}<br>
						{{shopdetail.state}} </font></b></h4>
                       
                    </td>
                    </tr>
                    </table>
                    <hr size="2" width="100%" noshade style="color:#000000"/>
                    <table ng-repeat="values in barbersData">
                    <tr>
                    <td> <img  src="/images/people.jpeg"  ></td>
                    <td>
                    	<table>
                    		<tr><td> <font color="red"><h4 >
					{{values.name}}</h4> </td></tr>
                    		<tr><td> <h5>Location : {{shopdetail.name}} </h5> </td></tr>
                    	</table>
                    </td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td><BUTTON >Book</BUTTON></td>
                    </font>
                    </tr>
                    </table>
                    </div>
                    </div>
                    </div>
                    </div>