 <style type="text/css">
     body { margin-top:20px; }
.panel-title {display: inline;font-weight: bold;}
.checkbox.pull-right { margin: 0; }
.pl-ziro { padding-left: 0px; }
.ng-invalid {
    color: red;
}
 </style>
    <div class="container" ng-controller="HeaderCtrl">
    <div class="row" ng-init="featuringPlans()">
        <div class="col-xs-12 col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Payment Details
                    </h3>
                    <div class="checkbox pull-right">
                        <label>
                            <input type="checkbox" />
                            Remember
                        </label>
                    </div>
                </div>
                <div class="panel-body">
                    <form role="form" stripe-form="stripeCallback" name="checkoutForm">
                    <div class="form-group">
                        <label for="cardNumber">
                            CARD NUMBER</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="cardNumber" ng-model="cardDetails.number" placeholder="Valid Card Number"
                                required autofocus  payments-format="card"
                            payments-validate="card"  name="card"/>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                        </div>
                        <div ng-if="checkoutForm.card.$invalid">
                            Error: invalid card number!
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-7 col-md-7">
                            <div class="form-group">
                                <label for="expityMonth">
                                    EXPIRY DATE</label>
                                <div class="col-xs-12 col-lg-12 pl-ziro">
                                    <input type="text" class="form-control" id="expityMonth" placeholder="MM/YYYY" required payments-format="expiry"
                                     payments-validate="expiry" ng-model="cardDetails.month"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-5 col-md-5 pull-right">
                            <div class="form-group">
                                <label for="cvCode">
                                    CV CODE</label>
                                <input type="password" class="form-control" id="cvCode" placeholder="CV" required ng-model="cardDetails.cvc" payments-validate="cvc" payments-type-model="type" payments-format="cvc"/>
                            </div>
                        </div>
                    </div>
                   </form>
                </div>
            </div>
            <!-- <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="#"><span class="badge pull-right"><span class="glyphicon glyphicon-usd"></span>4200</span> Final Payment</a>
                </li>
            </ul> -->
            <select ng-model="cardDetails.selectPrice" class="nav nav-pills nav-stacked">
                <option ng-repeat="x in plans.data" value="{{x.id}}">{{x.amount}} for {{x.interval_count}} {{x.interval}}</option>
            </select>
            <br/>
            <button type="submit" ng-click="submitPayment()">Submit</button>
        </div>
    </div>
</div>
