<style type="text/css">
.angular-google-map-container {
    height: 500px;
    width: 900px;
}
</style>
<div ng-if="loaderStart" loader-css="line-scale-pulse-out" class="loader"></div>
<div class="crumb">
    <span>Booked Appointment</span>
</div>
<div class="wrapper">
    <div class="block">
        <h2>Your Customer</h2>
        <div class="selected_barber">
            <div class="selected_user">
                <span ng-if="!particularAppointment.customer_id.picture">
            <img src="/images/no-image-found.jpg"></span>
                <span ng-if="particularAppointment.customer_id.picture"><img src="{{imgPath + particularAppointment.customer_id.picture}}" alt="" > </span></div>
            <div class="namertng">
                <h3>{{particularAppointment.customer_name}}</h3>
                <div class="rtng">
                    <input-stars max="5" ng-model="ratingCus" ng-attr-readonly="true">
                    </input-stars>
                </div>
            </div>
            <div class="locdis">
                <span ng-if="!particularAppointment.customer_id.ratings[0].appointment_date"><h4>
                No cut till yet for this Customer </h4></span>
                <span ng-if="particularAppointment.customer_id.ratings[0].appointment_date">
                <p><span>Last Cut :</span>{{particularAppointment.customer_id.ratings[0].appointment_date | date:medium}} @ {{particularAppointment.customer_id.ratings[0].appointment_date | date :'h:mma'}}</p>
                </span>
            </div>
        </div>
    </div>
    <div class="block block_bar">
        <h2>Appointment Booked</h2>
        <div class="row">
            <div class="stsr">
                <div class="col-md-6">
                    <p>
                        <h4><i class="fa fa-calendar"> </i> &nbsp;&nbsp;&nbsp;
                    {{particularAppointment.appointment_date| date:medium}} @ {{particularAppointment.appointment_date| date:'h:mma'}}
                     </h4></p>
                </div>
            </div>
        </div>
    </div>
    <div class="block block_bar">
        <h2>Barber Shop Address</h2>
        <div class="row">
            <div class="stsr">
                <div class="col-md-6">
                    <p>
                        <h4><i class="fa  fa-map-marker"> </i>  &nbsp;&nbsp;&nbsp;
                     {{particularAppointment.shop_id.name}} {{particularAppointment.shop_id.address}} {{particularAppointment.shop_id.city}} {{particularAppointment.shop_id.state}}</h4></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-sm-2">
                <!-- <input type="checkbox" ng-model="checked" aria-label="Toggle ngShow"> -->
                <a href="#" ng-click="Showmaps()" class="cmbtn"> View on Map</a></div>
            <div class="col-md-10 col-sm-10">
                <div class="map">
                    <div ng-hide="viewmap">
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <p><i class=""> </i>
                                    <ui-gmap-google-map center='map.center' zoom='map.zoom' aria-label="Google map">
                                        <ui-gmap-marker ng-repeat="marker in markers" coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
                                            <ui-gmap-window>
                                                <div>{{marker.window.title}}</div>
                                            </ui-gmap-window>
                                        </ui-gmap-marker>
                                    </ui-gmap-google-map>
                                </p>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <p><i class=""></i></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="block block_bar">
    <h2>Summary of Services</h2>
    <div class="row">
        <div class="stsr">
            <div class="col-md-6" ng-repeat="serv in particularAppointment.services"> <a href="#" class="select">{{serv.name}} <span>${{serv.price}}</span></a> </div>
        </div>
    </div>
    <div class="totl">
        <p>Total Due : <span>${{totoalPrice}}</span></p>
    </div>
</div>
</div>